.p-header {
  padding: $espace-m 45px ($espace-m - $espace-m);
}
.p-header > * {
  margin-bottom: $espace-m;
}


.p-footer {
  padding: $espace-m 45px ($espace-m - $espace-s);
}
.p-footer > * {
  margin-bottom: $espace-s;
}




.mb-s {
  margin-bottom: $espace-s;
}

.mr-m {
  margin-right: $espace-m;
}




.c_ml-s > * + * {
  margin-left: $espace-s;
}