.lien-header {
  color: var(--gamme1__texte);
  text-decoration: none;
}





.lien-footer {
  color: var(--gamme1__texte);
  text-decoration: none;
}
.lien-footer:hover {
  color: var(--gamme1__accroche);
}