
{% if tags == "realisations" %}

    <ul class="ul-reset d-flex ai-c mb-l">
        <li>
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/">Réalisations</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            {{titre}}
        </li>
    </ul>

{% endif %}



{% if tags == "recueil" %}

    <ul class="ul-reset d-flex ai-c mb-l">
        <li>
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/">Accueil</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/recueil/">Recueil</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            {{titre | safe}}
        </li>
    </ul>

{% endif %}



{% if tags[0] == "styleguideptl" %}

    <ul class="ul-reset d-flex ai-c mb-l">
        <li>
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/">Accueil</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/recueil/">Recueil</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/recueil/styleguide">Styleguide du site</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            {{titre}}
        </li>
    </ul>

{% endif %}



{% if tags[0] == "contact" %}

    <ul class="ul-reset d-flex ai-c mb-l">
        <li>
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/">Accueil</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            {{titre}}
        </li>
    </ul>

{% endif %}



{% if tags[0] == "contact-succes" %}

    <ul class="ul-reset d-flex ai-c mb-l">
        <li>
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/">Accueil</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/contact/">Contact</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            {{titre}}
        </li>
    </ul>

{% endif %}



{% if tags == "site-perso" %}

    <ul class="ul-reset d-flex ai-c mb-l">
        <li>
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/">Réalisations</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            <a class="lien-niveau2" href="{{ metadata.siteUrl }}/realisations/site-perso/">Site perso</a>
        </li>
        <li>
            &nbsp;&nbsp;>&nbsp;
            {{titre}}
        </li>
    </ul>

{% endif %}
