<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if accueil %}
    {% set titrePage %}{{ metadata.siteName }}{% endset %}
{% else %}
    {% set titrePage %}{{titre}} - {{ metadata.siteName }}{% endset %}
{% endif %}
<title>{{ titrePage | safe }}</title>

{% if description %}
    <meta name="description" content="{{ description | safe }}">
{% else %}
    <meta name="description" content="{{ metadata.description }}">
{% endif %}

<link rel="stylesheet" href="/style.css" />

<link rel="apple-touch-icon" sizes="180x180" href="{{ metadata.siteUrl }}{{ metadata.faviconUrl }}apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ metadata.siteUrl }}{{ metadata.faviconUrl }}favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ metadata.siteUrl }}{{ metadata.faviconUrl }}favicon-16x16.png">
<link rel="manifest" href="{{ metadata.siteUrl }}{{ metadata.faviconUrl }}site.webmanifest">
<link rel="mask-icon" href="{{ metadata.siteUrl }}{{ metadata.faviconUrl }}safari-pinned-tab.svg" color="#332f35">

<meta name="copyright" content="{{ metadata.siteName }}">
<meta name="author" content="{{ metadata.siteName }}">

<link rel="alternate" type="application/rss+xml" href="{{ metadata.siteUrl }}/rss.xml" title="{{ metadata.siteName }}">

{% if date %}
    <meta name="date" content="{{ date }}">
{% endif %}

<meta name="robots" content="index,follow">

<meta property="og:title" content="{{titre}}">
<meta property="og:url" content="{{ metadata.siteUrl }}{{ page.url | url }}">
<meta property="og:image" content="{{ metadata.siteUrl }}{{ metadata.faviconUrl }}og-image.png">
<meta property="og:description" content="{{ description or metadata.description }}">

<link rel="canonical" href={{ metadata.siteUrl }}{{ page.url | url }}>
