{% if titreMenu == "Recherche" %}
    <li class="td-1 tg1-1" aria-current="page">
        <span class="sr-only">Recherchez sur le site</span>
        <svg width="24px" height="24px" class="fill--mode" aria-hidden="true">
            <use xlink:href="#loupe"></use>
        </svg>
    </li>
{% else %}
    <li>
        <a href="/recherche/" title="Recherchez sur le site">
            <span class="sr-only">Recherchez sur le site</span>
            <svg width="24px" height="24px" class="fill--mode var--lien" aria-hidden="true">
                <use xlink:href="#loupe"></use>
            </svg>
        </a>
    </li>
{% endif %}


