<input type="checkbox" id="switch-theme" class="hide-checkbox js--switch" aria-hidden="true">
<label for="switch-theme" class="tg1-1 td-0 a" title="Changer de thème">
    <span class="js--switch-clair">
        <span class="sr-only">Thème clair</span>
        <svg width="18px" height="18px" class="fill--mode var--lien" aria-hidden="true">
            <use xlink:href="#lightMode"></use>
        </svg>
    </span>
    <span class="js--switch-sombre hide">
        <span class="sr-only">Thème sombre</span>
        <svg width="18px" height="18px" class="fill--mode var--lien" aria-hidden="true">
            <use xlink:href="#darkMode"></use>
        </svg>
    </span>
</label>
