{% if accueil %}
    <h1 class="ts-xxl tg1-1 th-09 tw-4 mb-s">
        Pierre <br class="hide-for-small">Tampon-Lajarriette
    </h1>
{% else %}
    <a href="/" class="d-block ts-xxl tg1-1 th-09 tw-4 td-0 mb-s">
        Pierre <br class="hide-for-small">Tampon-Lajarriette
    </a>
{% endif %}