{% if accueil %}
    <div class="d-flex ai-c">
        <svg width="{{ metadata.tailleLogo }}" height="{{ metadata.tailleLogo }}" class="fill--mode mr-xs" aria-hidden="true">
            <use xlink:href="#logo"></use>
        </svg>
        <h1 class="w- ts-xl tg1-1 th-09 tw-4">
            Pierre <br class="hide-for-small">Tampon-Lajarriette
        </h1>
    </div>
{% else %}
    <div class="d-flex ai-c">
        <svg width="{{ metadata.tailleLogo }}" height="{{ metadata.tailleLogo }}" class="fill--mode mr-xs" aria-hidden="true">
            <use xlink:href="#logo"></use>
        </svg>
        <a href="/" class="w- d-block ts-xl tg1-1 th-09 tw-4 td-0" title="Accueil">
            Pierre <br class="hide-for-small">Tampon-Lajarriette
        </a>
    </div>
{% endif %}
