{% if accueil %}
    <h1 class="ts-xl tg1-1 th-09 tw-4">
        Pierre <br class="hide-for-small">Tampon-Lajarriette
    </h1>
{% else %}
    <a href="/" class="d-block ts-xl tg1-1 th-09 tw-4 td-0">
        Pierre <br class="hide-for-small">Tampon-Lajarriette
    </a>
{% endif %}
