.hide {
  display: none;
}
@media screen and (min-width: rem-calc(490)) {
  .hide-for-small {
    display: none;
  }
}


//screen reader
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}
