.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.fw-w {
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}