.bordure-h {
  border-top: 1px solid var(--gamme1__bordure);
}
.bordure-b {
  border-bottom: 1px solid var(--gamme1__bordure);
}
.bordure-l {
  border-left: 1px solid var(--gamme1__bordure);
}

hr.vertical {
  border-color: var(--gamme1__bordure);
}