.clignote {
  opacity: 1;
  animation: clignote 0.8s infinite;
}

@keyframes clignote {
  0% {
    opacity:1
  }
  50% {
    opacity:0
  }
  to {
    opacity:1
  }
}
@-webkit-keyframes clignote {
  0% {
    opacity:1
  }
  50% {
    opacity:0
  }
  to {
    opacity:1
  }
}
@-moz-keyframes clignote {
  0% {
    opacity:1
  }
  50% {
    opacity:0
  }
  to {
    opacity:1
  }
}