input {
  font-size: $texte-m;
  background-color: var(--gamme1__fond);
  border: 1px solid var(--gamme1__texte4);
  border-radius: $texte-m;
  color: var(--gamme1__texte1);
  padding: $espace-xs $espace-s;
}

input::placeholder {
  color: var(--gamme1__texte2);
  opacity: 1;
}

input:focus {
  @include style-focus;
  border-color: var(--gamme1__texte2);
}


