input,
textarea {
  @include base-input;
  background-color: var(--gamme3__fond);
  color: var(--gamme3__texte1);
  width: 100%;
}

input::placeholder,
textarea::placeholder {
  color: var(--gamme3__texte2);
  opacity: 1;
}

input:focus,
textarea:focus {
  border-color: var(--gamme1__texte4);
  outline: none;
}

input:not(:placeholder-shown):not(:focus):invalid {
  border-color: #ea5566;
}





input[type="search"] {
  padding-right: $espace-s + rem-calc(24) + $espace-s;
}
input[type="search"] + svg {
  margin-right: $espace-s;
}






.bouton {
  @include base-input;
  color: var(--gamme1__texte3);
  background-color: var(--gamme1__fond);
  box-shadow: 0 0 0 1px var(--gamme1__texte3);
}
.bouton:hover {
  color: var(--gamme1__texte1);
  box-shadow: 0 0 0 1px var(--gamme1__texte1);
  cursor: pointer;
}
.bouton:focus-visible {
  @include style-focus;
  box-shadow: none;
}




