/*--------------------------------------------------------------------*/
/* Lien externe dans main                                             */
// Pas idéal, mais fonctionne pour les liens sur la page rédigé en markdown
/*--------------------------------------------------------------------*/
main a:after {
  content:"↗";
  color: var(--gamme1__texte4);
  font-family: system-ui,-apple-system,sans-serif;
}

main a[href^="http://localhost:8080/"]:after,
main a[href^="https://ptl9.netlify.app/"]:after,
main a[href^="http://www.pierre.tl/"]:after,
main a[href^="/"]:after,
main a[href^="../"]:after,
main a[href^="#"]:after,
main a:not([href]):after
{
  content: "";
}



/*--------------------------------------------------------------------*/
/* Lien sans class                                                    */
/*--------------------------------------------------------------------*/
a:not([class]),
.lien-evitement {
  color: var(--gamme1__texte3);
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.2s linear;
}
a:not([class]):hover,
.lien-evitement {
  color: var(--gamme1__texte1);
}




/*--------------------------------------------------------------------*/
/* Hover des texte de gamme1 - couleur 1                              */
/*--------------------------------------------------------------------*/
a.tg1-1:hover, // lien
.a.tg1-1:hover // label, button...
{
  color: var(--gamme1__texte3);
  cursor: pointer;
}




/*--------------------------------------------------------------------*/
/* Lien évitement                                                     */
/*--------------------------------------------------------------------*/
.lien-evitement {
  position: absolute;
  left: -99999rem;
  background-color: var(--gamme1__fond);
  padding: 10px;
  border: .2rem dashed var(--gamme1__texte3);
  outline: none;
}

.lien-evitement:focus {
  position: absolute;
  left: 0;
}




/*--------------------------------------------------------------------*/
/* Lien sommaire                                                      */
/*--------------------------------------------------------------------*/
.lien-niveau2 {
  text-decoration: underline;
  color: var(--gamme1__texte1);
  text-decoration-color: var(--gamme1__texte3);
  transition: text-decoration-color 0.2s linear;
}
.lien-niveau2:hover {
  text-decoration-color: var(--gamme1__texte1);
}




/*--------------------------------------------------------------------*/
/* figcaption                                                         */
/*--------------------------------------------------------------------*/
a figcaption {
  color: var(--gamme1__texte3);
  font-style: normal;
  text-decoration: underline;
  text-decoration-color: var(--gamme1__texte3);
  transition: text-decoration-color 0.2s linear, color 0.2s linear;
}
a:hover figcaption {
  color: var(--gamme1__texte1);
  text-decoration-color: var(--gamme1__texte1);
}
