/*--------------------------------------------------------------------*/
/* Lien sans class                                                    */
/*--------------------------------------------------------------------*/
a:not([class]) {
  color: var(--gamme1__texte3);
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid var(--gamme1__texte3);
  transition: all 0.2s linear;
}
a:not([class]):hover {
  color: var(--gamme1__texte1);
  border-bottom-color: var(--gamme1__texte1);
}




/*--------------------------------------------------------------------*/
/* Hover des texte de gamme1 - couleur 1                              */
/*--------------------------------------------------------------------*/
a.tg1-1:hover, // lien
.a.tg1-1:hover // label, button...
{
  color: var(--gamme1__texte2);
  cursor: pointer;
}




/*--------------------------------------------------------------------*/
/* Lien planqué                                                       */
/*--------------------------------------------------------------------*/
.lien-planque {
  text-decoration: none;
}