/*--------------------------------------------------------------------*/
/* Défaut                                                             */
/*--------------------------------------------------------------------*/
main ul {
  @include liste;
}
main ol {
  @include liste-ol;
}



/*--------------------------------------------------------------------*/
/* Reset                                                              */
/*--------------------------------------------------------------------*/
ol,
ul,
.ul-reset {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}




/*--------------------------------------------------------------------*/
/* Sommaire                                                           */
/*--------------------------------------------------------------------*/
.ul-sommaire li::marker {
  list-style-type: "\203A";
  color: var(--gamme1__texte3);
}
