//Gap
.gap-menu {
  gap: $espace-s;
}
@include breakpoint(large) {
  .gap-menu {
    gap: $espace-m;
  }
}

// TOp
.pt-m {
  padding-top: $espace-m;
}


// Bas
.mb-xl {
  margin-bottom: $espace-xl;
}
.mb-l {
  margin-bottom: $espace-l;
}
.mb-m {
  margin-bottom: $espace-m;
}
.mb-s {
  margin-bottom: $espace-s;
}
.mb-xs {
  margin-bottom: $espace-xs;
}

.mb-s__enfant > *  {
   margin-bottom: $espace-s;
}





// Droite
.mr-xs {
  margin-right: $espace-xs;
}
.mr-m {
  margin-right: $espace-m;
}
.mr-m__enfant > *:not(:last-child) {
  margin-right: $espace-m;
}




// Gauche
.pl-s {
  padding-left:$espace-s;
}
.ml-s__enfant > *:not(:first-child) {
  margin-left: $espace-s;
}




// Haut et bas
.py-s {
  padding-top:$espace-s;
  padding-bottom: $espace-s;
}




//Droite et Gauche
.px-tranche {
  padding-right: $espace-tranche--small;
  padding-left: $espace-tranche--small;
  width: 100%;
}
@include breakpoint(large) {
  .px-tranche {
    padding-right: $espace-tranche--large;
    padding-left: $espace-tranche--large;
  }
}
