/* markdown */

.markdown p:not([class]),
.markdown ul:not([class]),
.markdown ol:not([class]),
.markdown pre:not([class])
{
  margin-bottom: $espace-s;
}





.markdown h2 {
  font-size: $texte-l;
  color: var(--gamme1__texte4);
  line-height: 2;
  margin-bottom: $espace-s;
}
.markdown h2:not(:first-child){
  margin-top: $espace-l;
}


.markdown h3 {
  font-size: $texte-l;
  color: var(--gamme1__texte1);
  margin-top: $espace-m;
  margin-bottom: $espace-s;
}

.markdown h2 + h3 {
  margin-top: 0;
}




.markdown.var--styleguide h2{
  margin-bottom: $espace-m;
}
.markdown.var--styleguide h2:not(:first-child){
  margin-top: $espace-xl;
}
.markdown.var--styleguide h3{
  margin-top: $espace-m;
  margin-bottom: $espace-m;
}



.markdown table {
  margin-bottom: $espace-m;
}
