.w-100,
.w-70,
.w-50,
.w-33,
.w-66,
.w-30
{
  width: 100%;
}

[class^="w-"] + [class^="w-"] {
  margin-top: $espace-s;
}

@include breakpoint(large) {

  .w-70 {
    width: calc(70% - #{$espace-m / 2});
  }
  .w-50 {
    width: calc(50% - #{$espace-m / 2});
  }
  .w-33 {
    width: calc(33.333% - #{$espace-m * 2 / 3});
  }
  .w-66 {
    width: calc(66.666% - #{$espace-m * 2 / 3});
  }
  .w-30 {
    width: calc(30% - #{$espace-m / 2});
  }

  [class^="w-"] + [class^="w-"] {
    margin-top: 0;
    margin-left: $espace-m;
  }

}
