// texte font size
.ts-xxl {
  font-size: $texte-xxl;
}
@include breakpoint(smallOnly){
  .ts-xxl {
    font-size: rem-calc(35);
  }
}
.ts-xl {
  font-size: $texte-xl;
}
.ts-l {
  font-size: $texte-l;
}
.ts-s {
  font-size: $texte-s;
}




// texte gamme 1
.tg1-1 {
  color: var(--gamme1__texte1);
}
.tg1-2 {
  color: var(--gamme1__texte2);
}
.tg1-3 {
  color: var(--gamme1__texte3);
}
.tg1-4 {
  color: var(--gamme1__texte4);
}




// texte line-height
.th-09 {
  line-height: 0.9;
}
.th-2 {
  line-height: 2;
}




// texte font-weight
.tw-3 {
  font-weight: 300; //texte courant
}
.tw-4 {
  font-weight: 400; //normal
}




// texte decoration
.td-0 {
  text-decoration: none;
}
.td-1 {
  position:relative;
}
.td-1:after {
  content: "";
  position:absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 1px;
}
.td-1.tg1-1:after {
  background-color: var(--gamme1__texte1);;
}
@include breakpoint(large) {
  .td-1:after {
    bottom: -10px;
  }
}




// texte align
.text-center {
  text-align: center;
}