.texte-1 {
  font-size: $texte-xxl;
  color: var(--gamme1__texte);
  line-height: 0.9;
  font-weight: normal;
  text-decoration: none;
}



.texte-2 {
  font-size: $texte-xl;
  color: var(--gamme1__texte);
}
.texte-3 {
  font-size: $texte-l;
  color: var(--gamme1__accroche);
  line-height: 2;
}
.texte-4 {
  font-size: $texte-s;
  text-transform: uppercase;
  color: var(--gamme1__accroche);
  font-weight: 400;
}




.texte-center {
  text-align: center;
}

.texte-accroche {
  color: var(--gamme1__accroche);
}




.md p {
  margin-bottom: $espace-s;
}
.md h2 {
  font-size: $texte-l;
  color: var(--gamme1__accroche);
  line-height: 2;
}
.md h2:not(:first-child){
  margin-top: $espace-s;
}