{% set contrainte %}
    <ul>
        <li>Dessiner la chaîne de production d’un robot</li>
        <li>32 couleurs maximum (<em>J’en est utilisé 16</em>)</li>
        <li>Animation autorisées</li>
        <li>Taille de la création : 700*60px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #45 : Robots Factory",
    "22 Mai 2013",
    "/images/pixel-art/concours-retropixel/robots-factory-anime.gif",
    "usine de création de robot animé",
    contrainte,
    "or"
) }}








{% set contrainte %}
    <ul>
        <li>Melanger 2 animaux de façon à en obtenir un nouveau</li>
        <li>20 couleurs maximum</li>
        <li>Animation autorisées, pas de transparence</li>
        <li>Taille de la création : 128*128px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #44 : Bi-Animals",
    "14 Avril 2013",
    "/images/pixel-art/concours-retropixel/bi_animals_crocureuil.gif",
    "un crocureuil, un mélange d'un crocodile et d'un écureuil",
    contrainte,
    "non"
) }}








{% set contrainte %}
    <ul>
        <li>Realiser un mock up de jeu d’infiltration</li>
        <li>16 couleurs maximum</li>
        <li>Animation autorisées, pas de transparence</li>
        <li>Taille de la création : 240*160px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #41 : Infiltrated",
    "22 Octobre 2012",
    "/images/pixel-art/concours-retropixel/mock-up_infiltration.gif",
    "jeu d'infiltration de ninja",
    contrainte,
    "bronze"
) }}








{% set contrainte %}
    <ul>
        <li>Mélanger 2 thèmes parmi : Forêt, Espace, Océan, Electricité, Musique</li>
        <li>20 couleurs maximum (<em>J’en est utilisé 13</em>)</li>
        <li>Animation autorisées</li>
        <li>Taille de la création : 256*96px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #39 : Mélange de thèmes",
    "17 Juillet 2012",
    "/images/pixel-art/concours-retropixel/foret-donnees.gif",
    "Forée de données",
    contrainte,
    "non"
) }}








{% set contrainte %}
    <ul>
        <li>Imaginer un bâtiment pour Retropixel en Isométrie et de nuit</li>
        <li>Pas de limite de couleurs</li>
        <li>Animation autorisées</li>
        <li>Taille de la création : 300*250px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #38 : RP Building",
    "2 Juillet 2012",
    "/images/pixel-art/concours-retropixel/RP_building.png",
    "Immeuble Tortankosaure",
    contrainte,
    "argent"
) }}








{% set contrainte %}
    <ul class="mb-s">
        <li>Dessiner un mock up de Space Shooter</li>
        <li>
            Palette imposé de 27 couleurs : <br>
            <img src="{{ metadata.siteUrl }}//images/pixel-art/concours-retropixel/palette_AmstradCPC.png" alt="palette couleur de AmstradCPC" loading="lazy" />
        </li>
        <li>Animation autorisées</li>
        <li>Taille de la création : 240*320px</li>
    </ul>
    <p class="mb-s">Work In Progress animé :</p>
    <img src="{{ metadata.siteUrl }}//images/pixel-art/concours-retropixel/space_shooter-mockup-wip.gif" alt="realisation étape par étape" loading="lazy" />
{% endset %}
{{ macro.concoursRp(
    "Concours #35 : Back to the past",
    "14 Avril 2012",
    "/images/pixel-art/concours-retropixel/space_shooter-mockup.gif",
    "Space Shooter Mockup",
    contrainte,
    "or"
) }}








{% set contrainte %}
    <ul>
        <li>Bannière pour Retropixel avec le thème suivant : «&nbsp;L’hiver est dur cette année, venez vous réchauffez dans la communauté du pixel.&nbsp;»</li>
        <li>5 couleurs maximum</li>
        <li>Animation autorisées</li>
        <li>Taille de la création : 88*31px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #34 : Il fait pas chaud dehors !",
    "2 février 2012",
    "/images/pixel-art/concours-retropixel/chamallow-rp.gif",
    "chamallow en forme de 'rp' dans les flammes",
    contrainte,
    "or"
) }}








{% set contrainte %}
    <p>Série de mini concours d’un duré de 1 semaine au lieu d’un mois généralement.<br>
        Le but est de dessiner un avatar (64*64 px) qui représente ce que dit une phrase imposé.</p>
    <ul>
        <li>«&nbsp;Un squelette émotionné se bat avec Frankenstein dans un bar&nbsp;»</li>
        <li>
            Palette de 10 couleurs imposées : <br>
            <img src="{{ metadata.siteUrl }}//images/pixel-art/concours-retropixel/palette_verte.png" alt="palette de couleur verte" loading="lazy" />
        </li>
        <li>Animation autorisées</li>
        <li>Taille de la création : 64*64px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #32 : Mercredi, c’est…",
    "22 Juillet 2012",
    "/images/pixel-art/concours-retropixel/insolite_bagarre.gif",
    "Bagarre insolite",
    contrainte,
    "bronze"
) }}








{% set contrainte %}
    <p>Série de mini concours d’un duré de 1 semaine au lieu d’un mois généralement.<br>
        Le but est de dessiner un avatar (64*64 px) qui représente ce que dit une phrase imposé.</p>
    <ul>
        <li>«&nbsp;Un poisson débile joue avec une imprimante dans une source d’eau chaude&nbsp;»</li>
        <li>
            Palette de 10 couleurs imposées : <br>
            <img src="{{ metadata.siteUrl }}//images/pixel-art/concours-retropixel/palette_bleu.png" alt="palette de couleur bleu" loading="lazy" />
        </li>
        <li>Animation autorisées</li>
        <li>Taille de la création : 64*64px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #32 : Mercredi, c’est…",
    "15 Juillet 2012",
    "/images/pixel-art/concours-retropixel/insolite_source-chaude.gif",
    "Un poisson joue avec une imprimante",
    contrainte,
    "bronze"
) }}








{% set contrainte %}
    <ul class="mb-s">
        <li>Le logo doit être aux allures Steampunk</li>
        <li>30 couleurs maximum</li>
        <li>Pas de transparence</li>
        <li>Taille de la création :370*65px</li>
    </ul>
    <p class="mb-s">Work In Progress animé :</p>
    <img src="{{ metadata.siteUrl }}//images/pixel-art/concours-retropixel/retropixel_steampunk-wip.gif" alt="Réalisation étape par étape" loading="lazy" />
{% endset %}
{{ macro.concoursRp(
    "Concours #30 : Bannière Steampunk",
    "5 Juin 2011",
    "/images/pixel-art/concours-retropixel/retropixel_steampunk.gif",
    "retropixel déssiné avec des objets de style Steampunk",
    contrainte,
    "bronze"
) }}








{% set contrainte %}
    <ul>
        <li>Dessiner une machine en vous inspirant de croquis imposé de Léonard De Vinci</li>
        <li>16 couleurs maximum</li>
        <li>Transparence et animation autorisé</li>
        <li>Taille de la création :96*96px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #29 : Léonard est un génie",
    "24 Mars 2011",
    "/images/pixel-art/concours-retropixel/tondeuse-a_gazon-a_pedale.gif",
    "Tondeuse à gaz à pédale",
    contrainte,
    "bronze"
) }}








{% set contrainte %}
    <ul>
        <li>Intégrer le bonnet imposé dans un avatar spécial noel</li>
        <li>16 couleurs maximum</li>
        <li>Transparence et animation autorisé</li>
        <li>Taille de la création :64*64px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #27 : Bonnet de Noël",
    "23 Décembre 2010",
    "/images/pixel-art/concours-retropixel/avatar_noel.gif",
    "Avatar pour noel",
    contrainte,
    "bronze"
) }}








{% set contrainte %}
    <ul>
        <li>
            Réaliser trois scènes, d’un même lieu, à trois périodes strictement différentes en utilisant le template imposé<br>
            <img src="{{ metadata.siteUrl }}//images/pixel-art/concours-retropixel/template-temporel.png" alt="template fournis" loading="lazy" />
        </li>
        <li>16 couleurs maximum</li>
        <li>Pas de transparence ni d’animation autorisé</li>
        <li>Taille de la création :125*70px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #22 : Voyage Pixelo-temporel",
    "15 Février 2010",
    "/images/pixel-art/concours-retropixel/voyage_pixelo-temporel.gif",
    "Une facade en isométrie d'un chateu, d'un immeuble, et d'une structure du futur",
    contrainte,
    "bronze"
) }}








{% set contrainte %}
    <ul>
        <li>Créer un kit, un inventaire, une collection pour une collection réelle ou fictive</li>
        <li>Pas de limite de couleurs</li>
        <li>Transparence et animation autorisé</li>
        <li>Taille de la création :200*250px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #21 : Pixel Kit",
    "17 Septembre 2009",
    "/images/pixel-art/concours-retropixel/kit-de_survie.gif",
    "Mokup kit de survie",
    contrainte,
    "bronze"
) }}








{% set contrainte %}
    <ul>
        <li>Réaliser une scènes d'un lieu abandonnée</li>
        <li>16 couleurs maximum</li>
        <li>Pas de transparence ni d’animation autorisé</li>
        <li>Taille de la création :217*100px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #20 : À l’abandon…",
    "14 Aout 2009",
    "/images/pixel-art/concours-retropixel/abandon.gif",
    "Chemin de fer",
    contrainte,
    "bronze"
) }}








{% set contrainte %}
    <ul>
        <li>
            Créer une illustration sur le thème de l’envol et en intégrant cette forme <br>
            <img src="{{ metadata.siteUrl }}//images/pixel-art/concours-retropixel/template-envol.png" alt="template fournis" loading="lazy" />
        </li>
        <li>Pas de limite de couleurs</li>
        <li>Pas de transparence ni d’animation autorisé</li>
        <li>Taille de la création :200*250px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #19 : L’Envolée Pixellisée",
    "5 Juillet 2009",
    "/images/pixel-art/concours-retropixel/envolee_pixellisee.gif",
    "Décolage d'une fusée",
    contrainte,
    "non"
) }}








{% set contrainte %}
    <ul>
        <li>Créer une bande dessiné</li>
        <li>10 couleurs maximum</li>
        <li>Pas de transparence ni d’animation autorisé</li>
        <li>Taille de la création :200*250px</li>
    </ul>
{% endset %}
{{ macro.concoursRp(
    "Concours #17 :  Pixellise-moi une Histoire !",
    "3 Avril 2009",
    "/images/pixel-art/concours-retropixel/dragon_ball_zero.gif",
    "Manga dragon ball",
    contrainte,
    "bronze",
    "mb-xl"
) }}
