<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/vignette-concours/vignette-concours_fete_musique.png" alt="Un personnage qui hurle 'musique'" loading="lazy" />
    </div>
    <div>
        <p>Fête de la musique</p>
        <p class="tg1-2 ts-s">06/2013</p>
    </div>
</div>

<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/vignette-concours/vignette-concoursspecial-1.png" alt="Un couple à leur mariage" loading="lazy" />
    </div>
    <div>
        <p>Aidez Cancre !</p>
        <p class="tg1-2 ts-s">02/2013</p>
    </div>
</div>

<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/vignette-concours/vignette-concours35.png" alt="Une typographie faisant référence à celle du film Retour vers le futur" loading="lazy" />
    </div>
    <div>
        <p>Back to the past </p>
        <p class="tg1-2 ts-s">02/2012</p>
    </div>
</div>

<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/vignette-concours/vignette-concours43.png" alt="Un pixel bleu avec un bonnet de noël" loading="lazy" />
    </div>
    <div>
        <p>Merry Christmas </p>
        <p class="tg1-2 ts-s">12/2012</p>
    </div>
</div>

<div class="d-flex ai-c mb-xl">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/vignette-concours/vignette-concours34.png" alt="Des traces dans la neige en forme de 'RP'" loading="lazy" />
    </div>
    <div>
        <p>Il fait pas chaud dehors !</p>
        <p class="tg1-2 ts-s">12/2011</p>
    </div>
</div>
