---
layout: layout/standard.njk
titre: "Succès"
exclureRss: "true"
tags: "contact-succes"
permalink: contact/succes/
pasDeTitre: "true"
---

<h1 class="ts-xl tg1-1 tw-4 mb-m">Votre message est envoyé !</h1>
<p>
    Retourner sur le <a href="/contact/">formulaire de contact</a> ou sur la <a href="/">page d'accueil</a>
</p>

