---
layout: layout/standard.njk
accueil: "true"
tags: "menuPrincipal"
titreMenu: "Réalisation"
exclureRss: "true"
---



<ul class="ul-reset s_mosaique js--go-top-cible">
    {% for work in collections.realisations | reverse %}

        {% if work.data.mosaiqueTaille == "2-1" %}
            {% set classTailleMosaique =" s_mosaique__2-1" %}
            {% set imageMosaiqueWidth ="320" %}
            {% set imageMosaiqueWidth2x ="620" %}
            {% set imageMosaiqueHeight ="150" %}
            {% set imageShortcode ="mosaique2s1" %}
        {% elseif work.data.mosaiqueTaille == "2-2" %}
            {% set classTailleMosaique =" s_mosaique__2-2" %}
            {% set imageMosaiqueWidth ="320" %}
            {% set imageMosaiqueWidth2x ="620" %}
            {% set imageMosaiqueHeight ="320" %}
            {% set imageShortcode ="mosaique2s1" %}
        {% else %}
            {% set classTailleMosaique ="" %}
            {% set imageMosaiqueWidth ="150" %}
            {% set imageMosaiqueWidth2x ="300" %}
            {% set imageMosaiqueHeight ="150" %}
            {% set imageShortcode ="mosaique1s1" %}
        {% endif %}

        <li class="s_mosaique__item{{ classTailleMosaique }}">
            <a class="s_mosaique__lien" href="{{ work.url | url }}" title="{{ work.data.titre }}">
                {% if work.data.mosaiqueImage %}
                    {% if work.data.mosaiqueImageExtension == ".svg" %}
                        <img class="s_mosaique__image{{ work.data.mosaiqueClassCss }}"
                             src="{{ metadata.siteUrl }}/images/mosaique/{{ work.data.mosaiqueImage }}.svg"
                             alt=""
                             width="{{ imageMosaiqueWidth }}"
                             height="{{ imageMosaiqueHeight }}">
                    {% else %}
                        {% if work.data.titre == "Bricolage" %}
                        <img src="{{ ["/images/mosaique/", work.data.mosaiqueImage, "_2x", work.data.mosaiqueImageExtension] | join }}" alt="">
                        {% endif %}
                        {% image imageShortcode,
                                 ["sources/images/mosaique/", work.data.mosaiqueImage, "_2x", work.data.mosaiqueImageExtension] | join,
                                 "",
                                 ["(max-width: 599px)",imageMosaiqueWidth2x,"px,",imageMosaiqueWidth,"px"] | join,
                                 "" %}
                    {% endif %}
                {% else %}
                    <span class="s_mosaique__texte" title="{{ work.data.titre }}" data-titre="{{ work.data.titre }}">
                        <span aria-hidden="true">{{ work.data.titre }}</span>
                        {{ work.data.titre }}
                        <span aria-hidden="true">{{ work.data.titre }}</span>
                    </span>
                {% endif %}
            </a>
        </li>
    {% endfor %}

</ul>
