---
layout: layout/standard.njk
date: 2021-02-23
titre: PTL9 - demo
titreMenu: "Réalisation"
accueil: "true"
tags: "menuPrincipal"
---

<ul class="reset s_mosaique">
    {% for work in collections.realisations | reverse %}

        {% if work.data.mosaiqueTaille == "2-1" %}
            {% set classTailleMosaique =" s_mosaique__2-1" %}
        {% elseif work.data.mosaiqueTaille == "2-2" %}
            {% set classTailleMosaique =" s_mosaique__2-2" %}
        {% else %}
            {% set classTailleMosaique ="" %}
        {% endif %}

        <li class="s_mosaique__item{{ classTailleMosaique }}">
            <a class="s_mosaique__lien" href="{{ work.url | url }}">
                {% if work.data.mosaique %}
                    {% if work.data.mosaique2x %}
                        <img class="s_mosaique__image"
                             src="{{ metadata.siteUrl }}/images/mosaique/{{ work.data.mosaique }}"
                             srcset=" {{ metadata.siteUrl }}/images/mosaique/{{ work.data.mosaique }} 1x,
                                      {{ metadata.siteUrl }}/images/mosaique/{{ work.data.mosaique2x }} 2x"
                             alt=""
                             title="{{ work.data.titre }}">
                    {% else %}
                        <img class="s_mosaique__image" src="{{ metadata.siteUrl }}/images/mosaique/{{ work.data.mosaique }}" alt="" title="{{ work.data.titre }}">
                    {% endif %}
                {% else %}
                    <span class="s_mosaique__texte" title="{{ work.data.titre }}" data-titre="{{ work.data.titre }}">
                        <span aria-hidden="true">{{ work.data.titre }}</span>
                        {{ work.data.titre }}
                        <span aria-hidden="true">{{ work.data.titre }}</span>
                    </span>
                {% endif %}
            </a>
        </li>
    {% endfor %}

</ul>
