---
layout: layout/standard.njk
accueil: "true"
tags: "menuPrincipal"
titreMenu: "Réalisation"
exclureRss: "true"
---

<ul class="ul-reset s_mosaique js--go-top-cible">
    <li class="s_mosaique__item s_mosaique__2-2 df ai-c p-s">
        <h2 class="sr-only">À propos de moi</h2>
        <p>Il y a plus de 10 ans, j’ai choisi de faire du web mon métier.</p>
        <p>Au fil du temps, je me suis spécialisé en Accessibilité et Design System pour créer des expériences utiles, inclusives et durables.</p>
        <p>Ce site m’accompagne depuis 2007 : c’est mon carnet d’idées, ma mémoire et surtout mon laboratoire créatif.</p>
        <p>J’y teste, j’expérimente, j’apprends… et j’espère partager un peu de cette curiosité avec vous.</p>
    </li>
    <li class="sr-only">
        <h2>Réalisations</h2>
    </li>
    {% for work in collections.realisations | reverse %}

        {% if work.data.mosaiqueTaille == "2-1" %}
            {% set classTailleMosaique =" s_mosaique__2-1" %}
            {% set imageMosaiqueWidth ="320" %}
            {% set imageMosaiqueWidth2x ="620" %}
            {% set imageMosaiqueHeight ="150" %}
            {% set imageShortcode ="mosaique2s1" %}
        {% else %}
            {% set classTailleMosaique ="" %}
            {% set imageMosaiqueWidth ="150" %}
            {% set imageMosaiqueWidth2x ="300" %}
            {% set imageMosaiqueHeight ="150" %}
            {% set imageShortcode ="mosaique1s1" %}
        {% endif %}

        <li class="s_mosaique__item{{ classTailleMosaique }}">
            {#  {{ work.data.mosaiqueImage.slice(-3) }}#}
            <a class="s_mosaique__lien" href="{{ work.url | url }}" title="{{ work.data.titre }}" aria-label="{{ work.data.titre }}">
                {% if work.data.mosaiqueImage %}
                    {% if work.data.mosaiqueImageExtension == ".svg" %}
                        <img class="{{ work.data.mosaiqueClassCss }}"
                             src="{{ metadata.siteUrl }}/images/mosaique/{{ work.data.mosaiqueImage }}.svg"
                             alt=""
                             width="{{ imageMosaiqueWidth }}"
                             height="{{ imageMosaiqueHeight }}"
                             loading="lazy"
                             decoding="async">
                    {% else %}
                        {% if work.data.mosaiqueClassCss == "pa" %}
                            <img class="{{ work.data.mosaiqueClassCss }}"
                                 src="{{ ["/images/mosaique/", work.data.mosaiqueImage, work.data.mosaiqueImageExtension] | join }}"
                                 srcset=""
                                 alt=""
                                 width="{{ imageMosaiqueWidth }}"
                                 height="{{ imageMosaiqueHeight }}"
                                 loading="lazy"
                                 decoding="async">
                        {% else %}
                            {% image imageShortcode,
                             ["sources/images/mosaique/", work.data.mosaiqueImage, "_2x", work.data.mosaiqueImageExtension] | join,
                             "",
                             ["(max-width: 599px) ",imageMosaiqueWidth2x,"px, ",imageMosaiqueWidth,"px"] | join,
                             work.data.mosaiqueClassCss %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    <span class="s_mosaique__texte" aria-hidden="true">
                        {{ work.data.titre.slice(0,1) }}
                    </span>
                {% endif %}
            </a>
        </li>
    {% endfor %}

</ul>
