---
layout: layout/standard.njk
titre: "Mentions légales"
exclureRss: "true"
description: "Information légal du site"
---
{% import "macro/contenu.njk" as macro %}


{% set sommaire = [
    {titre: 'Crédits'},
    {titre: 'Licence'},
    {titre: 'Cookies & Statistiques'},
    {titre: 'Plan du site'}
] %}
{{ macro.sommaire2(sommaire) }}


{{ macro.h2("Crédits") }}
<p class="mb-l">
    Logo, conception, graphisme, intégration et rédaction par Pierre Tampon-Lajarriette
</p>

{{ macro.h2("Licence") }}
<div class="mb-l">
    <p class="mb-xs">Le site est publié sous la licence GNU General Public License v3.0</p>
    <ul>
        <li><span lang="en">Source code</span> : <a href="https://github.com/pierretl/ptl9" target="_blank" rel="noreferrer" title="Source code (new window)">https://github.com/pierretl/ptl9</a></li>
        <li>
            <span lang="en">Deployment</span>: <a href="https://app.netlify.com/sites/ptl9/overview" target="_blank"  rel="noreferrer" title="Deployment (new window)">https://app.netlify.com/sites/ptl9/overview</a>
            <img src="https://api.netlify.com/api/v1/badges/c9433773-6b35-4049-9ee1-4a16b39cb3df/deploy-status" alt="">
        </li>
    </ul>
</div>

{{ macro.h2("Cookies & Statistiques") }}
{#<p class="mb-l">Il n'y a ni cookie ni tracking sur ce site</p>#}
<div class="mb-l">
    <p>Données collectées par l’outil de mesure d’audience <a href="https://www.wysistat.net/" target="_blank"  rel="noreferrer">Wysistat</a></p>
    <iframe style="border: none;" src="https://www.wysistat.com/opt-out/verification.html" width="100%" height="75"></iframe>
</div>

{{ macro.h2("Plan du site") }}
<a href="/plan-du-site/">Plan du site</a>
