---
layout: layout/standard.njk
titre: "Recueil"
tags: "menuPrincipal"
titreMenu: "Recueil"
exclureRss: "true"
pasDeTitre: "true"
description: "Journal de bord, tutoriel et écrit sur mon site personnel, mes créations et réflexions"
---

<ul class="ul-reset">
    {% for blog in collections.recueil | reverse %}

        {% if blog.data.brouillon %}
        {% else %}
            <li class="mb-m">

                <a href="{{ blog.url | url }}" class="tg1-1 td-0 tw-4">

                    <span class="ts-l th-09">
                        {{ blog.data.titre }}
                    </span>
                    <span class="ts-s tg1-2">—&nbsp;{{ blog.date | frDate | safe }}</span>

                </a>

            </li>
        {% endif %}

    {% endfor %}
</ul>
