---
layout: layout/standard.njk
date: 2021-02-24
titre: "Recueil"
pasDeTitre: "true"
tags: "menuPrincipal"
---

<ul class="ul-reset">
    {% for blog in collections.recueil | reverse %}

        {% if blog.data.brouillon %}
        {% else %}
            <li class="mb-m">

                <a href="{{ blog.url | url }}" class="tg1-1 td-0 tw-4">

                    <span class="ts-l th-09">
                        {%  if blog.data.homeStyleguide %}
                            Styleguide ptl9
                        {% else %}
                            {{ blog.data.titre }}
                        {% endif %}
                    </span>
                    <span class="ts-s tg1-2">—&nbsp;{{ blog.date | readableDate }}</span>

                </a>

            </li>
        {% endif %}

    {% endfor %}
</ul>
