---
layout: layout-standard.njk
date: 2021-02-24
titre: "Réflexion"
tags: "menuPrincipal"
---

<ul>
    {% for blog in collections.reflexions | reverse %}
        <li class="mb-m">

            <a href="{{ blog.url | url }}" class="liste-lien">

                {{ blog.data.titre }}

                {% if blog.data.date %}
                    <span class="texte-accroche texte-4">- {{ blog.data.date.toLocaleDateString() }}</span>
                {% endif %}

            </a>

        </li>
    {% endfor %}
</ul>