---
layout: layout/standard.njk
titre: "Suivi de projet &laquo; AIPE Moirans &raquo;"
tags: "recueil"
date: 2025-07-20
description: "Suivi du projet de site web de l'AIPE Moirans"
---
{% import "macro/contenu.njk" as macro %}

{{ macro.h2("Résumé des tâches réalisées et du temps investi") }}

<ul>
    <li>Co-conception à 4 mains sur des feuilles A3 avec des feutres de couleur - <strong>1h</strong></li>
    <li>Configuration des outils de travail : complexité liée à la gestion de plusieurs comptes GitHub sur Windows. Mise en place technique et rédaction du tutoriel <a href="{{ metadata.siteUrl }}/recueil/gerer-plusieurs-comptes-github-avec-des-cles-ssh">Gérer plusieurs comptes GitHub avec des clés SSH</a> - <strong>6h</strong></li>
</ul>