---
layout: layout/standard.njk
titre: "Checklist qualité Web"
tags: "recueil"
date: 2021-10-21
description: "Les 240 règles de la qualité Web selon Opquast"
---
{% import "macro/contenu.njk" as macro %}

{{ macro.h2("La checklist opquast, en bref") }}

<blockquote class="mb-xl">
    <p>La présente checklist se compose de 240 règles. Chacune d’entre elle est discutée de manière
        communautaire. La checklist est diffusée sous licence ouverte. Chaque règle contribue à
        produire mieux et plus vite de meilleurs sites et applications web.</p>
    <cite>
        <a href="https://checklists.opquast.com/fr/assurance-qualite-web/" target="_blank">Opquast</a>
    </cite>
</blockquote>

{{ macro.h2("Vérification pour ce site","","Règles 2020 – Version : 4.0") }}
<p class="mb-m">Règles 2020 – Version : 4.0</p>

{{ macro.h3("Contenus") }}
<ol class="mb-s__enfant mb-l">
    <li>
        Le site fournit aux utilisateurs la possibilité de connaître les nouveaux contenus ou
        services.
        {{ macro.verifOpquast() }}
        <a href="/recueil/journal-de-bord-ptl9/">Journal de bord</a>
    </li>
    <li>
        Les informations relatives aux droits de copie et de réutilisation sont disponibles depuis
        toutes les pages.
        {{ macro.verifOpquast() }}
        <a href="/mention-legales/#licence">Licence</a>
    </li>
    <li>
        Le code source de chaque page contient une métadonnée qui en décrit le contenu.
        {{ macro.verifOpquast() }}
        <span class="tg1-2">Utilise en une par défaut si une page n'en a pas de spécifique</span>
    </li>
    <li>
        Les dates sont présentées dans des formats explicites.
        {{ macro.verifOpquast() }}
        <span class="tg1-2">Repasse sur toutes les pages</span>
    </li>
    <li>
        La première occurrence d'une abréviation ou d'un acronyme dans le corps de chaque
        page donne accès à sa signification.
        {{ macro.verifOpquast() }}
        <span class="tg1-2">Tous les jours je me bas contre l'abus d'abréviations et d'acronymes et j'en avais plein dans mon site !</span>
    </li>
    <li>
        La date de publication des contenus qui le nécessitent est indiquée
        {{ macro.verifOpquast() }}
        <span class="tg1-2">Ajout de la date des réalisations et recueils sous le titre de page</span>
    </li>
    <li>
        Un lexique ou un glossaire adapté au public visé explique le vocabulaire sectoriel ou
        technique.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        Les contenus publicitaires ou sponsorisés sont identifiés comme tels.
        {{ macro.verifOpquast() }}
        <span class="tg1-2">Ni de pub, ni sponso ici</span>
    </li>
    <li>
        Les conditions de modération des espaces publics sont indiquées.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        Les contenus ou fichiers destinés à des espaces publics peuvent être vérifiés avant leur
        envoi définitif.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        Les espaces publics proposent au moins un moyen de signaler les abus.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        Chaque graphique est accompagné de ses données numériques
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        La page des résultats de recherche indique le nombre de résultats, le nombre de pages
        de résultats, et le nombre de résultats par page.
        {{ macro.verifOpquast() }}
        <span class="tg1-2">Fait</span>
    </li>
</ol>

{{ macro.h3("Données personnelles") }}
<ol class="mb-s__enfant mb-l" start="14">
    <li>
        La politique de confidentialité et de respect de la vie privée est disponible depuis toutes
        les pages.
        {{ macro.verifOpquast() }}
        <span class="tg1-2">Deja dans le footer !</span>
    </li>
    <li>
        La procédure d'accès et de rectification des données personnelles est décrite.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        La création de compte est possible sans recours à un système d'identification tiers.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        La création d'un compte est soumise à un processus de confirmation.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        Le site propose un mécanisme de prévention des usurpations de compte ou d'identité
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        Les comptes ou abonnements ouverts en ligne peuvent être fermés par le même moyen.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        Si le site propose un espace personnel ou abonné, il est possible de sauvegarder les
        contenus personnels.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        La connexion à tous les services proposés est possible avec les mêmes identifiants
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        Il est possible de se déconnecter des espaces privés.
        {{ macro.verifOpquastNA() }}
    </li>
    <li>
        Le site accepte les alias mail contenant le signe +
        {{ macro.verifOpquast() }}
        <span class="tg1-2">Pas de problème sur le formulaire de contact</span>
    </li>
</ol>

<p>Reste <strong class="ts-l">216</strong> règles à vérifier !</p>
