---
layout: layout/standard.njk
titre: "Styleguide du site"
tags: "recueil"
date: 2021-09-05
description: "Documentation qui regroupe tous les éléments de la charte graphiques et les composants de ce site"
scriptJs: "prism.js"
styleCss: "prism.css"
---

<div id="rechercheSite">

    <div class="d-flex mb-xl">
        <div class="w-30 sticky">
            <p class="ts-l tg1-4 th-2 tw-4">Les composants</p>
            <ul class="ul-sommaire cc2-so">
                {% for atome in collections.styleguideptl  %}
                    <li class="mb-s">
                        <a href="#{{ atome.data.titre | slug }}" class="tg1-1 td-0 tw-4">
                            {{ atome.data.titre | safe }}
                            {% if atome.data.tags[1] %}
                                <span class="ts-s tg1-2">({{ atome.data.tags[1] | capitalize }})</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="w-70">
            <ul class="list ul-reset">

                {% for atome in collections.styleguideptl  %}

                    <li class="mb-xl" id="{{ atome.data.titre | slug }}">

                        <a href="#{{ atome.data.titre | slug }}" class="td-0">
                            <h2 class="ts-l tg1-4 th-2 tw-4">
                                {{ atome.data.titre | safe }}
                                {% if atome.data.tags[1] %}
                                    <span class="ts-s tg1-2">—&nbsp;{{ atome.data.tags[1] | capitalize }}</span>
                                {% endif %}
                            </h2>
                        </a>

                        {{ atome.templateContent | safe }}

                    </li>

                {% endfor %}
            </ul>
        </div>
    </div>

</div>
