---
layout: layout/standard.njk
titre: "Allegretto"
tags: realisations
date: 2022-12-01
mosaiqueImage: "allegretto"
mosaiqueImageExtension: ".svg"
mosaiqueTaille: "2-1"
description: "Application de gestion de planning d'occupation"
---
{% import "macro/contenu.njk" as macro %}


<div class="d-flex ai-c mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Sass de connexion">
            <img src="{{ metadata.siteUrl }}/images/allegretto/connexion.png" alt="" />
            <figcaption>
                Sass de connexion
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <p class="mb-s">Projet de calendrier décentralisé pour la gestion d'une résidence familiale</p>
        <ul class="mb-m">
            <li>Pas d'inscription : seule la personne ajoutée par l'admin on l'accès à l'outil</li>
            <li>Le mot de passe créé par l'utilisateur est sécurisé et indéchiffrable</li>
            <li>Les utilisateurs sont regroupés par famille</li>
            <li>L'ajout d'une demande de séjour se fait par famille, un mail de notification est envoyé</li>
            <li>Un membre donne son accord au nom de sa famille</li>
            <li>Les séjours en attendent de validation sont en gris sur le calendrier et passe en vert quand tout le monde est ok</li>
        </ul>
        <p class="mb-s">Le logo est une vectorisation du logo dessiné par mon grand-père.</p>
        <p class="mb-s">Sources : <a href="https://github.com/pierretl/allegretto" target="_blank" rel="external">https://github.com/pierretl/allegretto</a></p>
    </div>
</div>


<div class="d-flex mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Tableau de bord des séjours">
            <img src="{{ metadata.siteUrl }}/images/allegretto/sejour.png" alt="" loading="lazy" />
            <figcaption>
                Tableau de bord des séjours
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Administration des utilisateurs">
            <img src="{{ metadata.siteUrl }}/images/allegretto/admin.png" alt="" loading="lazy" />
            <figcaption>
                Administration des utilisateurs
            </figcaption>
        </figure>
    </div>
</div>
