---
layout: layout/standard.njk
titre: "Bricolage"
tags: "realisations"
date: 2022-10-19
mosaiqueImage: "bricolage"
mosaiqueImageExtension: ".jpg"
description: "Réalisation de meuble et luminaire"
---
{% import "macro/contenu.njk" as macro %}





<p class="mb-l">
    Depuis mon emménagement, ,<br> j'ai commencé à fabriquer des meubles, luminaire et autres objets
</p>







{{ macro.sommaire(["Bibliothèque et bureau",
    "Luminaire",
    "Horloge Lego",
    "Bougoir",
    "Cuisine enfant",
    "Aménagement toilette",
    "Lit étagère",
    "Lampe vertical",
    "Miroir (WIP)"
]) }}





{{ macro.h2("Bibliothèque et bureau", "13 janvier 2021") }}

<p class="mb-m">
    Mon premier meuble sur mesure.<br>
    J'avais réalisé un tableau qui calculait automatiquement la taille des planches selon les épaisseurs que je saisiser comme la taille du meuble était fixe
</p>

<div class="d-flex mb-xl">
    <div class="w-30">
        <figure role="figure" aria-label="Meuble fini vide">
            <img src="{{ metadata.siteUrl }}/images/bricolage/bibliotheque-bureau-2.jpg" alt="Meuble vide" loading="lazy" />
            <figcaption>
                Meuble fini vide
            </figcaption>
        </figure>
    </div>
    <div class="w-70">
        <figure role="figure" aria-label="Mise en situation du meuble">
            <img src="{{ metadata.siteUrl }}/images/bricolage/bibliotheque-bureau-1.jpg" alt="Meuble utilisé" loading="lazy" />
            <figcaption>
                Mise en situation du meuble
            </figcaption>
        </figure>
    </div>
</div>






{{ macro.h2("Luminaire", "21 novembre 2021") }}

<p class="mb-m">
    Impossible de mettre une suspension au-dessus de ma table à manger sans faire de gros travaux et en réalisant quelque chose de propre
    <br>
    Un lampadaire est idéal pour ce genre de situation mais leurs prix sont exorbitants si l'on veut quelque chose d'esthétique
</p>

<div class="d-flex mb-m">
    <div class="w-50">
        <figure role="figure" aria-label="Découpage des tasseaux, puis huilage">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-1.jpg" alt="Découpage des tasseaux" loading="lazy" />
            <figcaption>
                Découpage des tasseaux, puis huilage
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Assemblage des différentes parties">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-2.jpg" alt="Assemblage" loading="lazy" />
            <figcaption>
                Assemblage des différentes parties
            </figcaption>
        </figure>
    </div>
</div>

<div class="d-flex mb-m">
    <div class="w-30">
        <figure role="figure" aria-label="Résultat final">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-3.jpg" alt="Lampadaire terminé" loading="lazy" />
            <figcaption>
                Résultat final
            </figcaption>
        </figure>
    </div>
    <div class="w-70">
        <figure role="figure" aria-label="Mise en situation">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-4.jpg" alt="Lampadaire qui éclaire une table" loading="lazy" />
            <figcaption>
                Mise en situation
            </figcaption>
        </figure>
    </div>
</div>



<div class="d-flex mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Changement d'orientation de la table, donc agrandissement de la barre">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-v2.jpg" alt="" loading="lazy" />
            <figcaption>
                Changement d'orientation de la table, donc agrandissement de la barre
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Le poids de la barre + de la suspension était trop lourd, j'ai donc du renforcer le tout">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-v3.jpg" alt="" loading="lazy" />
            <figcaption>
                Le poids de la barre + de la suspension était trop lourd, j'ai donc du renforcer le tout
            </figcaption>
        </figure>
    </div>
</div>







{{ macro.h2("Horloge Lego", "18 décembre 2021") }}

<p class="mb-m">
    Une commande de ma belle-mère qui voulait que je lui réalisasse quelque chose en Lego.<br>
    Il est difficile de se procurer une liste de pièces définies (hors énorme quantité), je suis partis sur quelque chose d'assez abstrait et artistique, réalisable avec une boîte de base que l'on trouve facilement.<br>
    Ma belle-mère étant dingue d'horloge, il était évident que je lui en réalise une
</p>

<div class="d-flex mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Boîte de lego de base">
            <img src="{{ metadata.siteUrl }}/images/bricolage/horloge-lego-1.jpg" alt="Boîte de lego" loading="lazy" />
            <figcaption>
                Boîte de lego de base
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Horloge final">
            <img src="{{ metadata.siteUrl }}/images/bricolage/horloge-lego-2.jpg" alt="Horloge" loading="lazy" />
            <figcaption>
                Horloge final
            </figcaption>
        </figure>
    </div>
</div>





{{ macro.h2("Bougoir", "01 janvier 2022") }}

<p class="mb-m">
    Réalisé à partir à partir d'une palette en bois<br>
</p>

<div class="d-flex mb-s">
    <div class="w-50">
        <figure role="figure" aria-label="Creusage d'un espace pour accueillir une bougie">
            <img src="{{ metadata.siteUrl }}/images/bricolage/bougoir-1.jpg" alt="Creusage du bois" loading="lazy" />
            <figcaption>
                Creusage d'un espace pour accueillir une bougie
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Découpage sommaire pour la forme avec des outils inappropriés">
            <img src="{{ metadata.siteUrl }}/images/bricolage/bougoir-2.jpg" alt="Découpage sommaire de la forme" loading="lazy" />
            <figcaption>
                Découpage sommaire pour la forme avec des outils inappropriés
            </figcaption>
        </figure>
    </div>
</div>

<div class="d-flex ai-c mb-xl">
    <div class="w-70">
        <p>
            Je voulais faire une forme géométrique, mais ce fut impossible à faire avec les outils à ma disposition.<br>
            J'ai fini par arrondir les angles, le résultat reste sympa même si pas du tout symétrique comme il était alors prévu
        </p>
    </div>
    <div class="w-30">
        <figure role="figure" aria-label="Résultat final">
            <img src="{{ metadata.siteUrl }}/images/bricolage/bougoir-3.jpg" alt="" loading="lazy" />
            <figcaption>
                Résultat final
            </figcaption>
        </figure>
    </div>
</div>





{{ macro.h2("Cuisine enfant", "04 septembre 2022") }}

<div class="d-flex mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Résultat final">
            <img src="{{ metadata.siteUrl }}/images/bricolage/cuisine-enfant-avant.jpg" alt="" loading="lazy" />
            <figcaption>
                Avant
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Résultat final">
            <img src="{{ metadata.siteUrl }}/images/bricolage/cuisine-enfant-apres.jpg" alt="" loading="lazy" />
            <figcaption>
                Apres
            </figcaption>
        </figure>
    </div>
</div>





{{ macro.h2("Aménagement toilette", "16 septembre 2022") }}

<div class="d-flex mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Porte papier toilette en fabrication">
            <img src="{{ metadata.siteUrl }}/images/bricolage/toilette-porte-papier.jpg" alt="" loading="lazy" />
            <figcaption>
                Porte papier toilette en fabrication
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Ensemble final, avant il n'y avait que la vasque murale">
            <img src="{{ metadata.siteUrl }}/images/bricolage/toilette-ensemble.jpg" alt="" loading="lazy" />
            <figcaption>
                Ensemble final, avant il n'y avait que la vasque murale
            </figcaption>
        </figure>
    </div>
</div>





{{ macro.h2("Lit étagère", "8 octobre 2022") }}

<div class="d-flex mb-xl">
    <div class="w-30">
        <figure role="figure" aria-label="Un croquis rapide">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lit-etagere-plan.jpg" alt="" loading="lazy" />
            <figcaption>
                Un croquis rapide
            </figcaption>
        </figure>
    </div>
    <div class="w-70">
        <figure role="figure" aria-label="Découpage des planches dans un magasin de bricolage, puis assemblage">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lit-etagere.jpg" alt="" loading="lazy" />
            <figcaption>
                Découpage des planches dans un magasin de bricolage, puis assemblage<br>
                Il ne reste plus qu'a thermocollé les champs
            </figcaption>
        </figure>
    </div>
</div>





{{ macro.h2("Lampe vertical", "15 octobre 2022") }}

<div class="d-flex mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Hors l'inesthétique de la visibilité de l'ampoule cela ébloui lorsqu'elle est allumé">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampe-vertical-1.jpg" alt="" loading="lazy" />
            <figcaption>
                Hors l'inesthétique de la visibilité de l'ampoule cela ébloui lorsqu'elle est allumé
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Une simple feuille de papier blanche améliore tous ça">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampe-vertical-2.jpg" alt="" loading="lazy" />
            <figcaption>
                Une simple feuille de papier blanche améliore tous ça
            </figcaption>
        </figure>
    </div>
</div>





{{ macro.h2("Miroir (WIP)", "19 octobre 2022") }}

<div class="d-flex ai-c mb-xl">
    <div class="w-30">
        <figure role="figure" aria-label="Découpe et placement rapide des chutes de bois">
            <img src="{{ metadata.siteUrl }}/images/bricolage/miroir-0.jpg" alt="" loading="lazy" />
            <figcaption>
                Découpe et placement rapide des chutes de bois
            </figcaption>
        </figure>
    </div>
    <div class="w-70">
        Concept de deux miroirs juxtaposés, l'un avec un cadre le plus propre possible et l'autre réalisé a à base de chutes de bois de découpe précédente <br>
        Reste a poncé, huilé, assemblé....
    </div>
</div>



