---
layout: layout/standard.njk
titre: "Bricolage"
tags: "realisations"
date: 2022-01-01
mosaiqueImage: "bricolage"
mosaiqueImageExtension: ".jpg"
description: "Réalisation de meuble et luminaire"
---
{% import "macro/contenu.njk" as macro %}





<p class="mb-l">
    Depuis mon emménagement, ,<br> j'ai commencé à fabriquer des meubles, luminaire et autres objets
</p>







{{ macro.sommaire(["Bibliothèque et bureau", "Luminaire", "Horloge Lego", "Bougoir (WIP)"]) }}





{{ macro.h2("Bibliothèque et bureau", "ancre", "13 janvier 2021") }}

<p class="mb-m">
    Mon premier meuble sur mesure.<br>
    J'avais réalisé un tableau qui calculait automatiquement la taille des planches selon les épaisseurs que je saisiser comme la taille du meuble était fixe
</p>

<div class="d-flex mb-xl">
    <div class="w-30">
        <figure role="figure" aria-label="Meuble fini vide">
            <img src="{{ metadata.siteUrl }}/images/bricolage/bibliotheque-bureau-2.jpg" alt="Meuble vide" loading="lazy" />
            <figcaption>
                Meuble fini vide
            </figcaption>
        </figure>
    </div>
    <div class="w-70">
        <figure role="figure" aria-label="Mise en situation du meuble">
            <img src="{{ metadata.siteUrl }}/images/bricolage/bibliotheque-bureau-1.jpg" alt="Meuble utilisé" loading="lazy" />
            <figcaption>
                Mise en situation du meuble
            </figcaption>
        </figure>
    </div>
</div>






{{ macro.h2("Luminaire", "ancre", "21 novembre 2021") }}

<p class="mb-m">
    Impossible de mettre une suspension au-dessus de ma table à manger sans faire de gros travaux et en réalisant quelque chose de propre
    <br>
    Un lampadaire est idéal pour ce genre de situation mais leurs prix sont exorbitants si l'on veut quelque chose d'esthétique
</p>

<div class="d-flex mb-m">
    <div class="w-50">
        <figure role="figure" aria-label="Découpage des tasseaux, puis huilage">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-1.jpg" alt="Découpage des tasseaux" loading="lazy" />
            <figcaption>
                Découpage des tasseaux, puis huilage
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Assemblage des différentes parties">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-2.jpg" alt="Assemblage" loading="lazy" />
            <figcaption>
                Assemblage des différentes parties
            </figcaption>
        </figure>
    </div>
</div>

<div class="d-flex mb-xl">
    <div class="w-30">
        <figure role="figure" aria-label="Résultat final">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-3.jpg" alt="Lampadaire terminé" loading="lazy" />
            <figcaption>
                Résultat final
            </figcaption>
        </figure>
    </div>
    <div class="w-70">
        <figure role="figure" aria-label="Mise en situation">
            <img src="{{ metadata.siteUrl }}/images/bricolage/lampadaire-4.jpg" alt="Lampadaire qui éclaire une table" loading="lazy" />
            <figcaption>
                Mise en situation
            </figcaption>
        </figure>
    </div>
</div>







{{ macro.h2("Horloge Lego", "ancre", "18 décembre 2021") }}

<p class="mb-m">
    Une commande de ma belle-mère qui voulait que je lui réalisasse quelque chose en Lego.<br>
    Il est difficile de se procurer une liste de pièces définies (hors énorme quantité), je suis partis sur quelque chose d'assez abstrait et artistique, réalisable avec une boîte de base que l'on trouve facilement.<br>
    Ma belle-mère étant dingue d'horloge, il était évident que je lui en réalise une
</p>

<div class="d-flex mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Boîte de lego de base">
            <img src="{{ metadata.siteUrl }}/images/bricolage/horloge-lego-1.jpg" alt="Boîte de lego" loading="lazy" />
            <figcaption>
                Boîte de lego de base
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Horloge final">
            <img src="{{ metadata.siteUrl }}/images/bricolage/horloge-lego-2.jpg" alt="Horloge" loading="lazy" />
            <figcaption>
                Horloge final
            </figcaption>
        </figure>
    </div>
</div>





{{ macro.h2("Bougoir (WIP)", "ancre", "01 janvier 2022") }}

<p class="mb-m">
    Réalisé à partir à partir d'une palette en bois<br>
    En cours de réalisation...
</p>

<div class="d-flex mb-s">
    <div class="w-50">
        <figure role="figure" aria-label="Creusage d'un espace pour accueillir une bougie">
            <img src="{{ metadata.siteUrl }}/images/bricolage/bougoir-1.jpg" alt="Creusage du bois" loading="lazy" />
            <figcaption>
                Creusage d'un espace pour accueillir une bougie
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Découpage sommaire pour la forme avec des outils inappropriés">
            <img src="{{ metadata.siteUrl }}/images/bricolage/bougoir-2.jpg" alt="Découpage sommaire de la forme" loading="lazy" />
            <figcaption>
                Découpage sommaire pour la forme avec des outils inappropriés
            </figcaption>
        </figure>
    </div>
</div>

<p class="mb-xl">
    A suivre...
</p>
