---
layout: layout/standard.njk
titre: "Team CuyZ"
tags: "realisations"
date: 2018-10-26
mosaiqueImage: "team-cuyz"
mosaiqueImageExtension: ".svg"
description: "Réalisations de logo et icônes pour la Team de développer CuyZ"
---
{% import "macro/contenu.njk" as macro %}


<p class="mb-l">
    C'est une <a href="https://cuyz.io/" rel="external">équipe de développer</a>, <a href="https://github.com/CuyZ" rel="external">dépot sur GitHub</a>
</p>

{{ macro.h2("Logo de la Team") }}
<div class="d-flex ai-c mb-xl">
    <div class="w-50">
        <blockquote class="mb-s">
            <p>
                Le logo doir représenter un hamster,<br>
                Il faut que le bas de sa tête soit le chiffre "3" couché
            </p>
            <cite>Fondateur de la Team CuyZ</cite>
        </blockquote>
    </div>
    <div class="w-50">
        <img src="{{ metadata.siteUrl }}/images/cuyz/logo-cuyz.png" alt="logo CuiZ" loading="lazy" class="fond-clair" />
    </div>
</div>


{{ macro.h2("Projet Notiz") }}
<p class="mb-l">
    <a href="https://github.com/CuyZ/NotiZ" rel="external">NotiZ</a> est une extension du système de gestion de contenu <a href="https://typo3.org/" rel="external">TYPO3</a>
</p>



{{ macro.h3("Logo") }}

<div class="d-flex mb-xl">
    <div class="w-70">
        <blockquote class="mb-s">
            <p>
                Le logo doit représenter un symbole de notification, de rappel. <br>
            Le logo du CMS doit y être représenté
            </p>
            <cite>Team CuyZ</cite>
        </blockquote>
    </div>
    <div class="w-30">
        <img src="{{ metadata.siteUrl }}/images/cuyz/logo-notiz.png" alt="logo Notiz" loading="lazy" class="fond-clair"/>
    </div>
</div>




{{ macro.h3("Icônes pour le backend du CMS") }}

<div class="d-flex mb-l">
    <div class="w-70">
        <blockquote class="mb-s">
            <p>Nous avons besoin également d’un visuel pour le menu de configuration globals dans le backend du CMS</p>
            <cite>Team CuyZ</cite>
        </blockquote>
    </div>
    <div class="w-30">
        <img src="{{ metadata.siteUrl }}/images/cuyz/notiz-config.png" alt="Icone Notiz" loading="lazy" />
    </div>
</div>

<div class="d-flex mb-xl">
    <div class="w-70">
        <blockquote class="mb-s">
            <p>Ainsi que de différencier les notifications de mail et de log</p>
            <cite>Team CuyZ</cite>
        </blockquote>
    </div>
    <div class="w-30">
        <div class="d-inline-block">
            <img src="{{ metadata.siteUrl }}/images/cuyz/notif-mail.png" alt="Icone de notification de mail" loading="lazy" class="fond-clair" />
        </div>
        <div class="d-inline-block">
            <img src="{{ metadata.siteUrl }}/images/cuyz/notif-log.png" alt="Icone de notification de log" loading="lazy" class="fond-clair" />
        </div>
    </div>
</div>
