---
layout: layout/standard.njk
titre: "Faire part de mon mariage"
tags: "realisations"
date: 2013-03-24
mosaiqueImage: "faire-part-mariage"
mosaiqueImageExtension: ".png"
mosaiqueTaille: "2-1"
mosaiqueClassCss: "pa"
description: "Première de couverture pour mon faire-part de mariage, réalisé en pixel art"
---
{% import "macro/contenu.njk" as macro %}



{{ macro.h2("Illustration") }}

<img class="pa mb-l" src="{{ metadata.siteUrl }}/images/pixel-art/faire-part_mariage.png" alt="Touts un tas de personnage de films et dessin animés en train de s'installaient dans des fauteuils rouge" loading="lazy" />





{{ macro.h2("Imprimer") }}

<img src="{{ metadata.siteUrl }}/images/faire-part/imprimer.jpg" alt="Faire part imprimer" loading="lazy" />
