---
layout: layout/standard.njk
titre: "T-shirt Kirby"
tags: realisations
date: 2020-11-01
mosaiqueImage: "kirby"
mosaiqueImageExtension: ".svg"
description: "T-shirt avec un le visage de Kirby en très gros plan"
---
{% import "macro/contenu.njk" as macro %}


<div class="d-flex mb-xl">
    <div class="w-50">
        {{ macro.h2("Référence") }}
        <p>Kirby est un personnage de jeu vidéo, créé par Masahiro Sakurai pour la firme Nintendo</p>
        <figure role="figure" aria-label="Logo du jeu vidéo 'Kirby Super Star Ultra'">
            <img src="{{ metadata.siteUrl }}/images/kirby/logo_kirby_super_star_ultra.png" alt="Kirby" loading="lazy" />
            <figcaption>
                Logo du jeu vidéo "Kirby Super Star Ultra"
            </figcaption>
        </figure>

    </div>
    <div class="w-50">
        {{ macro.h2("Mise en situation") }}
        <figure role="figure" aria-label="Les yeux, la bouche et les pommettes caractérisant Kirby">
            <img src="{{ metadata.siteUrl }}/images/kirby/t-shirt-kirby-resultat.png" alt="T-shirt rose kirby" loading="lazy" />
            <figcaption>
                Les yeux, la bouche et les pommettes caractérisant Kirby
            </figcaption>
        </figure>
    </div>
</div>
