---
layout: layout/standard.njk
titre: "T-shirt Metalfest"
tags: realisations
date: 2020-11-01
mosaique: "metalfest.png"
mosaiqueTaille: "3-2"
---

<h2 class="mb-s ts-l">
    Inspiration et critique
</h2>
<div class="d-flex mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="T-shirt 'Metal Fest' sur qwertee">
            <img src="{{ metadata.siteUrl }}/images/metalfest/original-qwertee.jpg" alt="T-shirt Metal Fest" loading="lazy" />
            <figcaption>
                T-shirt "Metal Fest" sur <a href="https://www.qwertee.com/" rel="external">qwertee</a>
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <p class="mb-s">J'adore le concept de reprendre le code vestimentaire des t-shirts de concert métal et le détourner une sorte de tableau périodique des métaux de transition, mais :</p>
        <ul class="mb-m">
            <li>Les logotypes sont bien trop lisible</li>
            <li>La date en bas du t-shirt ne correspondent à rien</li>
            <li>La face avant du t-shirt est entièrement noire, sans illustration ni reprise du logo</li>
        </ul>

        <figure role="figure" aria-label="Logo du Hellfest, festival français de Metal">
            <img src="{{ metadata.siteUrl }}/images/metalfest/hellfest-logo-318x219.png" alt="logo Hellfest" loading="lazy" />
            <figcaption>
                Logo du Hellfest, festival français de Metal
            </figcaption>
        </figure>
    </div>
</div>


<h2 class="mb-s ts-l">
    Re-design
</h2>
<div class="d-flex mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Détournement du logo du Hellfest suivi d'une illustration qui reprend différents thèmes de la culture Metal">
            <img src="{{ metadata.siteUrl }}/images/metalfest/metalfest-face.jpg" alt="Détournement du logo du festival Hellfest en Metalfest suivi d'une illustration de planète, crâne humain et papillon museleur" loading="lazy" />
            <figcaption>
                Détournement du logo du Hellfest suivi d'une illustration qui reprend différents thèmes de la culture Metal
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Nom de métaux avec des polices d'écriture torturé, la date est celle de la révision de la table périodique des éléments par l'IUPAC">
            <img src="{{ metadata.siteUrl }}/images/metalfest/metalfest-dos.jpg" alt="Juxtaposition de nom de métaux avec des polices d'écriture torturé, typique de la culture Metal" loading="lazy" />
            <figcaption>
                Nom de métaux avec des polices d'écriture torturé, la date est celle de la révision de la table périodique des éléments par l’<a href="https://fr.wikipedia.org/wiki/Union_internationale_de_chimie_pure_et_appliqu%C3%A9e" rel="external">IUPAC</a>
            </figcaption>
        </figure>
    </div>
</div>


<h2 class="mb-s ts-l">
    Mise en situation
</h2>
<div class="d-flex mb-s">
    <div class="w-50">
        <img src="{{ metadata.siteUrl }}/images/metalfest/t-shirt-metalfest-face-resultat.png" alt="t-shirt de face" loading="lazy">
    </div>
    <div class="w-50">
        <img src="{{ metadata.siteUrl }}/images/metalfest/t-shirt-metalfest-dos-resultat.png" alt="t-shirt de dos" loading="lazy">
    </div>
</div>