---
layout: layout/standard.njk
titre: "Multigames Team Collectif"
tags: "realisations"
date: 2013-10-12
mosaiqueImage: "mtc"
mosaiqueImageExtension: ".jpg"
mosaiqueTaille: "2-1"
description: "Développement de fonctionnalité, multiple re-design du site pour l'équipe multi-gaming MTC"
---
{% import "macro/contenu.njk" as macro %}


{{ macro.sommaire(["Thème Selva", "T-shirt", "Ajustement du thème", "Favicon", "Refonte du design"]) }}



{{ macro.h2("Thème Selva", "ancre", "12 octobre 2013") }}
<div class="d-flex ai-c mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Thème Selva">
            <img src="{{ metadata.siteUrl }}/images/mtc/theme-2013.gif" alt="Thème Selva" loading="lazy">
            <figcaption>
                Thème <a href="https://www.nuked-klan.org/" rel="external" target="_blank">Nuked Klan</a>
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <ul>
            <li>L’image de l’en-tête est un slider paramétrable dans les préférences</li>
            <li>Le fond rouge/vert/jaune dans les encadrés des serveurs de jeu corresponde au nombre de slot disponible :
                <ul>
                    <li>0 à 5 -&gt; rouge</li>
                    <li>6 à 10 -&gt; jaune</li>
                    <li>10 et + -&gt; vert</li>
                </ul>
            </li>
        </ul>
    </div>
</div>




{{ macro.h2("T-shirt", "ancre", "1 octobre 2010") }}
<figure role="figure" aria-label="T-shirt MTC" class="mb-m">
    <img src="{{ metadata.siteUrl }}/images/mtc/t-shirt-mtc-test.png" alt="T-shirt MTC" loading="lazy">
    <figcaption>
        T-shirt MTC
    </figcaption>
</figure>
<div class="d-flex ai-c mb-xl">
    <div class="w-50">
        <figure role="figure" aria-label="Face" class="mb-m">
            <img src="{{ metadata.siteUrl }}/images/mtc/t-shirt-mtc-front.png" alt="Motif face du T-shirt" loading="lazy">
            <figcaption>
                Face
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Dos" class="mb-m">
            <img src="{{ metadata.siteUrl }}/images/mtc/t-shirt-mtc-back.png" alt="Motif dos du T-shirt" loading="lazy">
            <figcaption>
                Dos
            </figcaption>
        </figure>
    </div>
</div>



{{ macro.h2("Ajustement du thème", "ancre", "16 septembre 2010") }}
<div class="d-flex ai-c mb-l">
    <div class="w-50">
        <img src="{{ metadata.siteUrl }}/images/mtc/mtc-dfview.png" alt="Page accueil" loading="lazy">
    </div>
    <div class="w-50">
        {{ macro.h3("Accueil") }}
        <ul>
            <li>Modification des images qui encadrent le contenu</li>
            <li>Réajustements divers</li>
        </ul>
    </div>
</div>
<div class="d-flex ai-c mb-l">
    <div class="w-50">
        <img src="{{ metadata.siteUrl }}/images/mtc/mtc-dfview-serveur.png" alt="Page liste des serveurs" loading="lazy">
    </div>
    <div class="w-50">
        {{ macro.h3("Liste des serveurs") }}
        <p>Ajout d’un système d’affichage par accordéon pour la rubrique Serveur pour améliorer la lisibilité, ici c’est la catégorie « Trakckmania » qui est déployer</p>
    </div>
</div>
<div class="d-flex ai-c mb-l">
    <div class="w-50">
        <img src="{{ metadata.siteUrl }}/images/mtc/mtc-dfview-groupe.png" alt="Page groupe" loading="lazy">
    </div>
    <div class="w-50">
        {{ macro.h3("Page groupe") }}
        <p>Ajout d’un classement par onglets des groupes de la Team</p>
    </div>
</div>
<div class="d-flex ai-c mb-xl">
    <div class="w-50">
        <img src="{{ metadata.siteUrl }}/images/mtc/mtc-dfview-map.png" alt="Page localisation des joueurs" loading="lazy">
    </div>
    <div class="w-50">
        {{ macro.h3("Localisation des joueurs") }}
        <p>Ajout d’une nouvelle rubrique au menu général, la MTC Maps :
            <br>
            Elle consiste à utiliser l’API de google map et afficher sur cette dernière la localisation des membres selon ce qu’ils ont paramétré dans le profil.
            <br>
            Pour chaque membre affiché, diverses informations sont récupérées dans la base de données comme leur pseudo, leur avatar, les jeux qu’il pratique et leur statut.
        </p>
    </div>
</div>



{{ macro.h2("Favicon", "ancre", "25 octobre 2009") }}
<figure role="figure" aria-label="Favicon" class="mb-xl">
    <img src="{{ metadata.siteUrl }}/images/mtc/mtc-favicon.png" alt="Favicon" loading="lazy">
    <figcaption>
        Création d’un favicon personnalisé
    </figcaption>
</figure>




{{ macro.h2("Refonte du design", "ancre", "25 octobre 2009") }}
<div class="d-flex ai-c mb-l">
    <div class="w-50">
        <figure role="figure" aria-label="Avant">
            <img src="{{ metadata.siteUrl }}/images/mtc/mtc-design-origine.png" alt="Design d'origine" loading="lazy">
            <figcaption>
                Avant
            </figcaption>
        </figure>
    </div>
    <div class="w-50">
        <figure role="figure" aria-label="Après refonte">
            <img src="{{ metadata.siteUrl }}/images/mtc/mtc-dark.png" alt="Après refonte" loading="lazy">
            <figcaption>
                Après refonte
            </figcaption>
        </figure>
    </div>
</div>
<ul><li>Création du web-design</li>
    <li>Intégration sous forme d’un thème <a href="https://www.nuked-klan.org/" rel="external" target="_blank">Nuked Klan</a></li>
    <li>Ajout d’icône au menu</li><li>Favicon personnalisé</li><li>Réorganisation des informations</li>
    <li>Refonte de l’ergonomie</li>
    <li>Création de la charte graphique</li>
    <li>Personnalisation d’une série de smiley avec de petite casquette «&nbsp;MTC&nbsp;»</li>
    <li>Bannière créer par Baya</li>
    <li>Mascottes réalisé par Yoan Ernoult</li>
</ul>
