---
layout: layout/standard.njk
titre: "Pixel art"
tags: "realisations"
date: 2017-05-28
classCssMain: "pa"
mosaiqueImage: "pixel-art"
mosaiqueImageExtension: ".jpg"
mosaiqueClassCss: " pa"
mosaiqueTaille: "2-1"
description: "Galerie de réalisation en pixel art"
---
{% import "macro/contenu.njk" as macro %}

<!--https://www.retropixel.fr/forum/viewtopic.php?f=7&t=2640-->

<blockquote class="mb-l">
    <p>
        Le pixel art, aussi appelé art du pixel ou art des pixels au Québec, désigne une composition numérique qui utilise une définition d'écran basse et un nombre de couleurs limité
    </p>
    <cite><a href="https://fr.wikipedia.org/wiki/Pixel_art" rel="external" target="_blank">Wikipedia</a></cite>
</blockquote>




{{ macro.sommaire(["Favicon", "Vignette Concours", "Concours Retropixel", "Faire part de mon mariage", "Pixel en Vrac"]) }}





{{ macro.h2("Favicon", "ancre") }}
<p class="mb-s">
    C'est une icône informatique symbolisant un site web. Les navigateurs web peuvent utiliser la favicon dans la barre d'adresse, les signets, les onglets ou encore les autres raccourcis
</p>

<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon_team-fun.gif" alt="La mascotte de l'équipe, une tête d'âne" loading="lazy" />
    </div>
    <div>
        <p>Team FuN</p>
        <p class="tg1-2 ts-s">28 mai 2017</p>
    </div>
</div>

<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon_malec.png" alt="La tête de Malec" loading="lazy" />
    </div>
    <div>
        <p><a href="https://leblogamalec.blogspot.fr/" target="_blank" rel="external">Blog de Malec</a></p>
        <p class="tg1-2 ts-s">2 août 2014</p>
    </div>
</div>

<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon_tpf.png" alt="Un crâne" loading="lazy" />
    </div>
    <div>
        <p>The Pirate Family</p>
        <p class="tg1-2 ts-s">14 juillet 2012</p>
    </div>
</div>

<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon_trublions.png" alt="Une capsule de bière" loading="lazy" />
    </div>
    <div>
        <p><a href="https://trveblyon.blogspot.com" target="_blank" rel="external">Les Trublions</a></p>
        <p class="tg1-2 ts-s mb-xs">3 septembre 2012</p>
        <p><a class="lien-niveau2" href="{{ metadata.siteUrl }}/realisations/les-trublions/">Autres réalisations</a> pour eux</p>
    </div>
</div>

<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon_wet.png" alt="Logo du jeu" loading="lazy" />
    </div>
    <div>
        <p><a href="https://www.enemy-territory.fr/" target="_blank" rel="external">Wolfenstein : Enemy Territory</a></p>
        <p class="tg1-2 ts-s mb-xs">15 mai 2011</p>
        <p><a class="lien-niveau2" href="{{ metadata.siteUrl }}/realisations/wolfenstein-enemy-territory/">Autres réalisations</a> pour eux</p>
    </div>
</div>

<div class="d-flex ai-c mb-s">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon_piratesourcil.png" alt="La tête du renard à l'humour politiquement incorrect" loading="lazy" />
    </div>
    <div>
        <p><a href="https://piratesourcil.blogspot.com/" target="_blank" rel="external">Piratesourcil</a></p>
        <p class="tg1-2 ts-s">25 septembre 2011</p>
    </div>
</div>

<div class="d-flex ai-c mb-xs">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon_retro-pixel.gif" alt="Le R de Retro pixel" loading="lazy" />
    </div>
    <div>
        <p><a href="https://www.retropixel.fr/pixel/" target="_blank" rel="external">Retro Pixel</a> - 4 couleurs</p>
        <p class="tg1-2 ts-s mb-xs">18 août 2010</p>
        <p><a class="lien-niveau2" href="{{ metadata.siteUrl }}/realisations/retropixel/">Autres réalisations</a> pour eux</p>
    </div>
</div>

<div class="d-flex ai-c mb-xl">
    <div class="mr-m">
        <img class="fond-clair" src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon-mangatheque.png" alt="Château japonnais" loading="lazy" />
    </div>
    <div>
        <p>Mangthèque</p>
        <p class="tg1-2 ts-s mb-xs">23 janvier 2009</p>
    </div>
</div>







{{ macro.h2("Vignette Concours", "ancre") }}
{% include "contenu/vignette-concours-retropixel.njk" %}






{{ macro.h2("Concours Retropixel", "ancre") }}
<p class="mb-m">Régulière <a href="http://www.retropixel.fr/pixel/" target="_blank" rel="external">retropixel.fr</a> organise un concours pixel art.<br>
    Voici mes participation, les contraintes lié au concours et mes récompense lorsque j’en est obtenu.</p>
{% include "contenu/concours-retropixel.njk" %}









{{ macro.h2("Faire part de mon mariage", "ancre") }}
<div class="d-flex ai-c mb-xl">
    <div class="w-70">
        <img src="{{ metadata.siteUrl }}/images/pixel-art/faire-part_mariage.png" alt="Touts un tas de personnage de films et dessin animés en train de s'installaient dans des fauteuils rouge" loading="lazy" />
    </div>
</div>






{{ macro.h2("Pixel en Vrac", "ancre") }}

{% set url %}{{ metadata.siteUrl }}/images/pixel-art/vrac/{% endset %}
{{ macro.galerie(
    url,
    "pixel-art",
    [
        "abbey_URT.gif",
        "abbey_URT_WIP.gif",
        "aliens.gif",
        "appart.png",
        "armee_1.gif",
        "autoportraits.png",
        "avatar_blason.gif",
        "avatar_coq.gif",
        "avatar_dead_leaves.gif",
        "avatar_lapin.gif",
        "badge-manga.gif",
        "banniere_TL_production-ancienne-version.gif",
        "bombe_HTP.gif",
        "drekinn.gif",
        "fjorir-fleet-1.png",
        "fjorir-fleet-2.png",
        "fjorir-fleet-3.png",
        "fjorir-fleet-4.png",
        "fjorir-fleet-5.png",
        "fjorir-fleet-6.png",
        "fjorir.png",
        "fjorir_spritesheet.png",
        "galet.gif",
        "horde_fast_food.gif",
        "kame_house.gif",
        "katana.gif",
        "kreaturs.png",
        "kreatur_wanted.png",
        "lanterne_id89.png",
        "lanterne_id89_v2.png",
        "map_bunker-wip.gif",
        "metalleux.gif",
        "moi-en-isometrie.gif",
        "mon_salon.png",
        "parking_F2D.gif",
        "peugeot-206.gif",
        "pirana.gif",
        "piratesourcil_favicon.png",
        "pirate_informatique.gif",
        "pirate_informatique_avatar.gif",
        "pixel_toy.gif",
        "pixel_toy_joueur-du_grenier.gif",
        "pixel_weeklies-1.png",
        "professeur_retor-1.png",
        "professeur_retor-2.png",
        "professeur_retor-3.png",
        "professeur_retor-sprite.png",
        "singe.gif",
        "smiley_divers.gif",
        "smiley_good.gif",
        "smiley_google.gif",
        "spaceships_army.gif",
        "space_invaders_iso.gif",
        "space_transporter-wip.gif",
        "space_transporter.gif",
        "sprite-menu-retropixel.gif",
        "temple_japonais.gif",
        "vera_roxy.png",
        "wip_fjorir_fleet-2.png",
        "wip_homme-lezard.png",
        "zodiac-chinois.gif",
        "zoom-infini-x8.png"
    ]) }}




