---
layout: layout/standard.njk
titre: "Poweo, page de maintenance"
tags: "realisations"
date: 2015-05-07
mosaiqueImage: "poweo"
mosaiqueImageExtension: ".png"
description: "Réalisation d'une page de maintenance avec un ester egg"
---

<blockquote class="mb-xl">
    <p>
        Vous avez carte blanche pour réaliser la page de maintenance du site du jour de son lancement : <br>
        Un texte en français et en néerlandais vous est imposé, ansi que l'affichage du logo. <br>
        Tout doit être compris dans un unique fichier html, pas d'appel vers des styles, image ou polices externe
    </p>
    <cite>poweo.be</cite>
</blockquote>

<div class="d-flex mb-l">
    <div class="w-70">
        <img src="{{ metadata.siteUrl }}/images/poweo/poweo-maintenance.png" alt="Page de maintenance" class="mb-m" loading="lazy">
        <ul>
            <li>Animation en <abbr title="Cascading Style Sheets">CSS</abbr> : défilement de la silhouette urbaine</li>
            <li>Image en base64</li>
            <li>Page responsive</li>
            <li>Multilangue</li>
            <li>
                <a href="https://fr.wikipedia.org/wiki/Code_Konami" target="_blank" rel="external">Konami code</a>,
                sur mobile ; <br>
                Les flèches sont remplacées vers des &laquo;Drag&raquo; <br>
                Le &laquo;B&raquo;, &laquo;A&raquo; par deux &laquo;Tap&raquo;
            </li>
        </ul>
    </div>
    <div class="w-30">
        <img src="{{ metadata.siteUrl }}/images/poweo/poweo-maintenance_mobile.png" alt="Page de maintenance version mobile" loading="lazy">
    </div>
</div>

<p>Page de démonstration : <a href="{{ metadata.siteUrl }}/realisations/poweo-maintenance/" target="_blank">Poweo - page maintenance</a></p>
