---
layout: layout/standard.njk
titre: "Retropixel"
tags: "realisations"
date: 2014-02-13
wip: "true"
mosaiqueImage: "retropixel"
mosaiqueImageExtension: ".png"
mosaiqueClassCss: "pa"
mosaiqueTaille: "2-1"
description: "Ajout de fonctionnalité, redesign, intégration ainsi que de multiples contributions graphiques à la vie du site web et du forum de RP"
---
{% import "macro/contenu.njk" as macro %}

<p class="mb-m">
    <a rel="noreferrer noopener" href="https://www.retropixel.fr" target="_blank">Retropixel</a> est une grande communauté francophone entièrement dédiée au Pixel-Art.
</p>
<p class="mb-m">
    Je les ai rejoint en 2009 par curiosité et je suis rapidement devenus modérateur puis administrateur <br>
    J'ai réalisé de multiples fonctionnalités et visuels
</p>
<p class="mb-l">
    Le site a fermé ses portes en 2021
</p>



{{ macro.sommaire(["Refonte graphique", "Logo", "Zoom automatique", "Vignette Concours", "Rédaction à faire"]) }}






{{ macro.h2("Refonte graphique", "13 février 2014") }}
<p class="mb-m">
    Refonte du design dans sa globalité (design et intégration de maquette en <abbr title="HyperText Markup Language">HTML</abbr>/<abbr title="Cascading Style Sheets">CSS</abbr>)
</p>
{{ macro.figure(
    "/images/retropixel/refonte-graphique/design-accueil.png",
    "Capture page accueil",
    "Page d’accueil",
    "mb-m"
) }}

{{ macro.figure(
    "/images/retropixel/refonte-graphique/design-galerie.png",
    "Capture page galerie",
    "Galerie intéractive avec un pixel selectionné",
    "mb-xl"
) }}









{{ macro.h2("Logo", "19 août 2010") }}
<p class="mb-s">Modernisation du logo du forum <a href="https://www.retropixel.fr/" target="_blank" rel="external">RetroPixel</a></p>
<div class="d-flex mb-m">
    <div class="w-50">
        {{ macro.figure(
            "/images/retropixel/logo/logo-origine.png",
            "logo retropixel d'origine",
            "Le logo d’origine"
        ) }}
    </div>
    <div class="w-50">
        {{ macro.figure(
            "/images/retropixel/logo/logo-RosenCrantz.png",
            "logo retropixel par RosenCrantz",
            "La proposition de RosenCrantz"
        ) }}
    </div>
</div>

<p class="mb-s">La version final qui est un mélange des deux logotypes précédent :</p>
<div class="d-flex mb-xl">
    <div class="w-50">
        {{ macro.figure(
            "/images/retropixel/logo/logo_retropixel_pixel-art.gif",
            "Logo en pixel-art",
            "Logo en échelle &laquo;pixel-art&raquo;"
        ) }}
    </div>
    <div class="w-50">
        {{ macro.figure(
            "/images/retropixel/logo/logo_retropixel.gif",
            "Logo final",
            "Logo taille réel"
        ) }}
    </div>
</div>










{{ macro.h2("Zoom automatique", "3 juillet 2014") }}
<p class="mb-m">
    Développement et intégration d’une nouvelle fonctionnalité en JavaScript :
</p>
<div class="d-flex mb-xl">
    <div class="w-70">
        <p class="mb-s">Au survol des images posté dans le forum des boutons apparait pour agrandir l’image tout en conservant la netteté des pixels</p>
        <p>Des barres de défilement apparaissent si l'image devient plus grande que son conteneur</p>
    </div>
    <div class="w-30">
        <img src="{{ metadata.siteUrl }}/images/retropixel/fonctionnalite/zoom-pixel.png" alt="outils de zoom">
    </div>
</div>









{{ macro.h2("Vignette Concours", "2011 à 2013") }}
<p class="mb-m">
    Vignette d’illustration pour les <a href="https://www.retropixel.fr/pixel/page-galerie-concours.php" rel="external" target="_blank">concours</a>
</p>
{% include "contenu/vignette-concours-retropixel.njk" %}













{{ macro.h2("Rédaction à faire") }}
{% set url %}{{ metadata.siteUrl }}/images/retropixel/{% endset %}
{{ macro.galerie(
    url,
    "pixel-art",
    [
        "21dec_RP.gif",
        "25pxegal2m.png",
        "courbe.gif",
        "deformation_pixel.gif",
        "erreur_ligne-sale.png",
        "erreur_proportion.png",
        "facebook-avatar.jpg",
        "facebook-banniere-patchwork.jpg",
        "facebook-capture-ecran.jpg",
        "favicon_retro_pixel.png",
        "free_play.gif",
        "icones-et_menu_v2.png",
        "icones_retro_pixel.png",
        "image-reglage-niveau_demo.png",
        "index_retro_pixel.png",
        "index_retro_pixel_survol.png",
        "line_MLP.png",
        "mlp-rp.png",
        "moderation.jpg",
        "panneau_annonce-forum_v1.png",
        "panneau_annonce-forum_v2.png",
        "panneau_annonce-forum_v3.png",
        "pas_d_avatar.gif",
        "picto-pix-jeu.gif",
        "picto-tuto.gif",
        "regenerer.gif",
        "schema.gif",
        "test-couleur-fond.png",
        "test2-couleur-fond.png",
        "tutoriel_cube_parfait_tuto.png",
        "tutoriel_motif_texture_herbe_tuto.png",
        "tutoriel_neon.gif"
    ]) }}
