---
layout: layout/standard.njk
titre: "Site perso"
tags: "realisations"
date: 2020-05-03
scriptJs: "horizontal-scroll.js"
mosaique: "site-perso.svg"
---
{% import "macro/contenu.njk" as macro %}





<p class="mb-l">
    Au milieu de ma formation supérieure,<br> j’ai commencé à créer un site personnel pour rassembler mes créations et projets.
    <br>
    Cette version est la 9ème
</p>





<h2 class="ts-l mb-s">
    Sommaire
</h2>
<ul class="ul-sommaire mb-l">
    <li class="mb-xs">
        <a class="lien-niveau2" href="#logo">Évolution du logotype</a>
    </li>
    <li class="mb-xs">
        <a class="lien-niveau2" href="#design">Page d'accueil par année</a>
    </li>
    <li class="mb-xs">
        <span class="mb-xs">Détails de chaque version :</span>
        <ul>
            <li>
                <a class="lien-niveau2" href="#version1">2007 : One-page statique</a>
            </li>
            <li>
                <a class="lien-niveau2" href="#version2">2008 : Trois affichages</a>
            </li>
            <li>
                <a class="lien-niveau2" href="#version3">2009 : Backend php maison</a>
            </li>
            <li>
                <a class="lien-niveau2" href="#version4">2010 : Lien rapide automatique</a>
            </li>
            <li>
                <a class="lien-niveau2" href="#version5">2012 : SEO</a>
            </li>
            <li>
                <a class="lien-niveau2" href="#version6">2013 : Hébergeur mutualisé</a>
            </li>
            <li>
                <a class="lien-niveau2" href="#version7">2015 : Wordpress, thème maison</a>
            </li>
            <li>
                <a class="lien-niveau2" href="#version8">2020 : Un seul plugin</a>
            </li>
            <li>
                <a class="lien-niveau2" href="#version9">2021 : Générateur site statique</a>
            </li>
        </ul>
    </li>
</ul>






<h2 id="logo" class="mb-s ts-l">
    Logo
</h2>


<ul class="ul-reset scroll-x mb-xs">
   <li>
       <figure role="figure" aria-label="2007">
           <img src="{{ metadata.siteUrl }}/images/site-perso/logo/logo-v1-2.jpg" height="98px" alt="" loading="lazy" />
           <figcaption>
               2007
           </figcaption>
       </figure>
   </li>
    <li>
        <figure role="figure" aria-label="2009">
            <img src="{{ metadata.siteUrl }}/images/site-perso/logo/logo-v4.png" height="98px" alt="" loading="lazy" />
            <figcaption>
                2009
            </figcaption>
        </figure>
    </li>
    <li>
        <figure role="figure" aria-label="2012">
            <img src="{{ metadata.siteUrl }}/images/site-perso/logo/logo-v5.png" height="98px" alt="" loading="lazy" />
            <figcaption>
                2012
            </figcaption>
        </figure>
    </li>
    <li>
        <figure role="figure" aria-label="2013">
            <img src="{{ metadata.siteUrl }}/images/site-perso/logo/logo-v6.png" height="98px" alt="" loading="lazy" />
            <figcaption>
                2013
            </figcaption>
        </figure>
    </li>
    <li>
        <figure role="figure" aria-label="2015">
            <img src="{{ metadata.siteUrl }}/images/site-perso/logo/logo-v7.svg" height="98px" alt="" loading="lazy" />
            <figcaption>
                2015
            </figcaption>
        </figure>
    </li>
    <li>
        <figure role="figure" aria-label="2020">
            <img src="{{ metadata.siteUrl }}/images/site-perso/logo/logo-v8.png" height="98px" alt="" loading="lazy" />
            <figcaption>
                2020
            </figcaption>
        </figure>
    </li>
</ul>
<p class="tg1-4 tw-5 mb-s">
    <em>Version du logo par année</em>
</p>

<p class="mb-s">
    Au début, un cube à deux faces pour exprimer ma double facette de codeur/designer <br>
    Sur les versions suivantes, le cube est toujours présent mais seulement suggéré par un empilement de calque transparent.
    Chaque couleur symbolise une catégorie.
    Les trois principaux, rouge, vert, bleu sont une double référence.
    Au système de codage des couleurs en informatique mais aussi à icône des logiciels de la suite Adobe :
</p>
<ul class="mb-s">
    <li>Rouge : Animation (Flash)</li>
    <li>Verte : Site web (Dreamweaver)</li>
    <li>Bleu : Graphisme (Photoshop)</li>
</ul>
<p class="mb-s">
    À partir de la version de 2009, la couleur intermédiaire, cyan, représente la catégorie «jeu»,
    puis dans la version 2012, la  couleur «orange» pour le «laboratoire» et le blanc qui est l'ensemble des couleurs, me représente.
    Mon prénom et mes initiales accompagnant le logo dans cette version sont blancs tandis que le reste du texte est en gris.
    Cette version ajoutera aussi un contour pour mieux faire ressortir le logo
</p>
<p class="mb-s">
    La version de 2013 adoucira les couleurs.
    En 2015, je trouverais un juste milieu entre les couleurs flashy du début et la version pâle.
    Depuis 2020, le logo proposera un contour moins régulier, fait main, pour symboliser l'artisanat
</p>
<p class="mb-xl">
    Une réflexion est en cours pour la prochaine ; <br>
    Une version filaire et monochrome <br>
    ou <br>
    Un resign total, basé sur l'avatar que j'utilise actuellement partout :
</p>








<h2 id="design" class="ts-l mb-s">
    Design
</h2>
<ul class="ul-reset scroll-x var--90 js--scroll-x mb-xs">
    <li>
        <figure class="mb-m" role="figure" aria-label="2007">
            <img src="{{ metadata.siteUrl }}/images/site-perso/accueil/ptl1.png" alt="" loading="lazy" />
            <figcaption>
                2007
            </figcaption>
        </figure>
    </li>
    <li>
        <figure class="mb-m" role="figure" aria-label="2008">
            <img src="{{ metadata.siteUrl }}/images/site-perso/accueil/ptl2.png" alt="" loading="lazy" />
            <figcaption>
                2008
            </figcaption>
        </figure>
    </li>
    <li>
        <figure class="mb-m" role="figure" aria-label="2009">
            <img src="{{ metadata.siteUrl }}/images/site-perso/accueil/ptl3.png" alt="" loading="lazy" />
            <figcaption>
                2009
            </figcaption>
        </figure>
    </li>
    <li>
        <figure class="mb-m" role="figure" aria-label="2010">
            <img src="{{ metadata.siteUrl }}/images/site-perso/accueil/ptl4.png" alt="" loading="lazy" />
            <figcaption>
                2010
            </figcaption>
        </figure>
    </li>
    <li>
        <figure class="mb-m" role="figure" aria-label="2012">
            <img src="{{ metadata.siteUrl }}/images/site-perso/accueil/ptl5.png" alt="" loading="lazy" />
            <figcaption>
                2012
            </figcaption>
        </figure>
    </li>
    <li>
        <figure class="mb-m" role="figure" aria-label="2013">
            <img src="{{ metadata.siteUrl }}/images/site-perso/accueil/ptl6.png" alt="" loading="lazy" />
            <figcaption>
                2013
            </figcaption>
        </figure>
    </li>
    <li>
        <figure class="mb-m" role="figure" aria-label="2015">
            <img src="{{ metadata.siteUrl }}/images/site-perso/accueil/ptl7.png" alt="" loading="lazy" />
            <figcaption>
                2015
            </figcaption>
        </figure>
    </li>
    <li>
        <figure class="mb-m" role="figure" aria-label="2020">
            <img src="{{ metadata.siteUrl }}/images/site-perso/accueil/ptl8_2021-04-17.png" alt="" loading="lazy" />
            <figcaption>
                2020
            </figcaption>
        </figure>
    </li>
    <li>
        <figure class="mb-m" role="figure" aria-label="2021">
            <img src="{{ metadata.siteUrl }}/images/site-perso/accueil/ptl9_2021-04-17.png" alt="" loading="lazy" />
            <figcaption>
                2021
            </figcaption>
        </figure>
    </li>
</ul>
<p class="tg1-4 tw-5 mb-xl">
    <em>Page d'accueil par année</em>
</p>













{% set col1 %}
    {{ macro.figure(
        "/images/site-perso/accueil/ptl1.png",
        "Capture page d'accueil dela version 1",
        "Site 'one-page'",
        "mb-m"
    ) }}
    {{ macro.figure(
        "/images/site-perso/capture/ptl1_info-bulle.png",
        "Capture du survol",
        "Informations au survol des cadres"
    ) }}
{% endset %}
{% set col2 %}
    <p class="mb-xs"><strong>Fonctionnalité</strong></p>
    <ul class="mb-s">
        <li>Liste de liens sous forme d'image</li>
        <li>Apparition des informations au survol des cadres</li>
        <li>Compteur de visiteur total</li>
        <li>Compteur de visiteur en ligne</li>
        <li>Flux RSS</li>
        <li>Livre d'or</li>
    </ul>
    <p class="mb-xs"><strong>Design</strong></p>
    <ul>
        <li>Les cadres des images sont des iPhone 2G (1<sup>re</sup>&nbsp;génération)</li>
        <li>Au survol, l'image change pour laisser la place à une autre identique avec une porte si le site était disponible
            ou avec des rubans de chantier pour les sites en construction, maintenance etc...</li>
        <li>L'illustration de chantier clignote</li>
    </ul>
{% endset %}
{{ macro.version_ptl("version1", "Version 1 — 26 septembre 2007", col1, col2) }}






{% set col1 %}
    {{ macro.figure(
        "/images/site-perso/accueil/ptl2.png",
        "Capture page d'accueil de la version 2",
        "Site 'one-page'"
    ) }}
{% endset %}
{% set col2 %}
    <p class="mb-xs"><strong>Fonctionnalité</strong></p>
    <ul>
        <li>Dernières actualités du fil RSS en début de page</li>
        <li>Langages utiliser pour chaque projet</li>
        <li>3 Type d'affichage : Liste (voir capture), Mosaïque (comme la version 1) et coverflow </li>
        <li>Page «lien», liste des projets sous forme de lien sans aucune information</li>
    </ul>
{% endset %}
{{ macro.version_ptl("version2", "Version 2 — 26 août 2008", col1, col2) }}






{% set col1 %}
    {{ macro.figure(
        "/images/site-perso/accueil/ptl3.png",
        "Capture page d'accueil de la version 3",
        "Site 'one-page'",
        "mb-m"
    ) }}
    {{ macro.figure(
        "/images/site-perso/capture/ptl3_rapide-image.png",
        "",
        "Menu rapide Image"
    ) }}
{% endset %}
{% set col2 %}
    <p class="mb-xs"><strong>Fonctionnalité</strong></p>
    <ul class="mb-s">
        <li>Développement d'un backend en PHP</li>
        <li>Éditeur de texte : CKEditor</li>
        <li>«Menu rapide : liste des projets sous forme de lien sans aucune information pour les 4 rubriques</li>
        <li>Page contact</li>
        <li>Découpage en catégories («animation», «graphisme», «jeu», «perso» et «collection»)</li>
    </ul>
    <p class="mb-xs"><strong>Design</strong></p>
    <ul>
        <li>Nouveau logo</li>
        <li>Utilisations d'un fond sombre plus nuancé</li>
        <li>Visuel : site en perpétuelle évolution</li>
        <li>Chaque catégorie est associée à une couleur, qui était repris sur l’ensemble de la page</li>
    </ul>
{% endset %}
{% set col3 %}
    <div class="w-30">
        {{ macro.figure(
            "/images/site-perso/capture/ptl3_rapide-lien.png",
            "",
            "Menu rapide Lien"
        ) }}
    </div>
    <div class="w-33">
        {{ macro.figure(
            "/images/site-perso/capture/ptl3_site.png",
            "",
            "Rubrique 'site' déployer"
        ) }}
    </div>
{% endset %}
{{ macro.version_ptl("version3", "Version 3 — 26 avril 2009", col1, col2, col3) }}






{% set col1 %}
    {{ macro.figure(
        "/images/site-perso/accueil/ptl4.png",
        "Capture page d'accueil de la version 4",
        "Rubrique Site Web",
        "mb-m"
    ) }}
    {{ macro.figure(
        "/images/site-perso/capture/ptl4_rapide-image.png",
        "",
        "Menu rapide Image"
    ) }}
{% endset %}
{% set col2 %}
    <p class="mb-xs"><strong>Fonctionnalité</strong></p>
    <ul class="mb-s">
        <li>Refonte base de données</li>
        <li>Refonte du backend : simplification et automatisation</li>
        <li>Scroll bar vertical personnalisé qui s'adapte à la taille du navigateur de l'utilisateur</li>
        <li>Script qui génère automatiquement la liste de lien des «Menu rapide» en fonction de leur arborescence</li>
        <li>Le «Menu rapide Graphisme» affiche des images plutôt que les noms des fichiers</li>
        <li>Galerie d'image avec Fancybox</li>
    </ul>
    <p class="mb-xs"><strong>Design</strong></p>
    <ul>
        <li>Association d'une couleur pour chaque catégorie (normal et «Menu rapide»)</li>
        <li>Au survol des «Menu rapide» les petits visuels s'animent</li>
        <li>L'interface change de couleur dominante en fonction de la couleur correspondant à la catégorie</li>
    </ul>
{% endset %}
{% set col3 %}
    <div class="w-30">
        {{ macro.figure(
            "/images/site-perso/capture/ptl4_rapide-image-zoom.png",
            "",
            "Galerie Fancybox"
        ) }}
    </div>
    <div class="w-33">
        {{ macro.figure(
            "/images/site-perso/capture/ptl4_rapide-lien.png",
            "",
            "Menu rapide Lien"
        ) }}
    </div>
{% endset %}
{{ macro.version_ptl("version4", "Version 4 — 26 décembre 2010", col1, col2, col3) }}






{% set col1 %}
    {{ macro.figure(
        "/images/site-perso/accueil/ptl5.png",
        "Capture page d'accueil de la version 5",
        "Page d'accueil",
        "mb-m"
    ) }}
{% endset %}
{% set col2 %}
    <p class="mb-xs"><strong>Fonctionnalité</strong></p>
    <ul class="mb-s">
        <li>Simplification de la structure de la base de données</li>
        <li>Refonte du backoffice : amélioration des performances</li>
        <li>Optimisation SEO</li>
        <li>Site s’adaptant jusqu’au résolution 800*600px</li>
        <li>Les liens visités des «Menu rapide» sont grisés</li>
        <li>Ajout de mon fil Twitter</li>
    </ul>
    <p class="mb-xs"><strong>Design</strong></p>
    <ul>
        <li>les visuels de la page d'accueil sont en nuance de gris, ils s'affichent en couleur au survol</li>
        <li>«Menu rapide» réduit a leur visuel</li>
    </ul>
{% endset %}
{% set col3 %}
    <div class="w-30">
        {{ macro.figure(
            "/images/site-perso/capture/ptl5_rapide-image.png",
            "",
            "Menu rapide Image"
        ) }}
    </div>
    <div class="w-30">
        {{ macro.figure(
            "/images/site-perso/capture/ptl5_rapide-lien.png",
            "",
            "Menu rapide Lien"
        ) }}
    </div>
{% endset %}
{{ macro.version_ptl("version5", "Version 5 — 26 décembre 2012", col1, col2, col3) }}






{% set col1 %}
    {{ macro.figure(
        "/images/site-perso/accueil/ptl6.png",
        "Capture page d'accueil de la version 6",
        "Page d'accueil",
        "mb-m"
    ) }}
    {{ macro.figure(
        "/images/site-perso/capture/ptl6-Autopromo-FTV-Jeunesse.png",
        "",
        "Rubrique animation"
    ) }}
{% endset %}
{% set col2 %}
    <p class="mb-xs"><strong>Fonctionnalité</strong></p>
    <ul class="mb-s">
        <li>Passage sous un hébergeur mutualisé</li>
        <li>Achat des nom de domaine pierre.tl</li>
        <li>Site responsive</li>
        <li>Support du site jusqu'à Internet explorer 7</li>
        <li>Ajout des projet en WIP (en cours) +  pourcentage d'avancement</li>
        <li>Ajout de Tags</li>
        <li>Refonte backoffice</li>
        <li>Système de gestion de fichier : elFinder</li>
        <li>Éditeur de texte : markitUp</li>
        <li>URL rewriting</li>
    </ul>
    <p class="mb-xs"><strong>Design</strong></p>
    <ul>
        <li>Adoucissement des couleurs</li>
        <li>Refonte de ergonomie du backend</li>
        <li>«Menu rapide» caché, s'affiche au survol de l’accroche «&nbsp;Site en perpétuelle évolution&nbsp;»</li>
    </ul>
{% endset %}
{% set col3 %}
    <div class="w-30">
        {{ macro.figure(
            "/images/site-perso/capture/ptl6-contact.png",
            "",
            "Formulaire de contact"
        ) }}
    </div>
    <div class="w-33">
        {{ macro.figure(
            "/images/site-perso/capture/ptl6-graphisme-acces-rapide.png",
            "",
            "Menu rapide Graphisme"
        ) }}
    </div>
    <div class="w-33">
        {{ macro.figure(
            "/images/site-perso/capture/ptl6-site-web.png",
            "",
            "Rubrique Site Web"
        ) }}
    </div>
{% endset %}
{{ macro.version_ptl("version6", "Version 6 — 28 avril 2013", col1, col2, col3) }}






{% set col1 %}
    {{ macro.figure(
        "/images/site-perso/capture/ptl7-home-mobile.png",
        "",
        "Page d'accueil mobile"
    ) }}
{% endset %}
{% set col2 %}
    <p class="mb-xs"><strong>Fonctionnalité</strong></p>
    <ul class="mb-s">
        <li>Backoffice : Wordpress</li>
        <li>Création d'un thème personnalisé</li>
        <li>Galerie d’images avec affichage d’une légende si elle existe lors du zoom</li>
        <li>
            Javascript natif :
            <ul>
                <li>Accordéon</li>
                <li>Galerie d’image</li>
            </ul>
        </li>
        <li>Site responsive</li>
    </ul>
    <p class="mb-xs"><strong>Design</strong></p>
    <ul class="mb-m">
        <li>Thème clair</li>
        <li>Création d’une palette de couleur harmonieuse</li>
        <li>«Menu rapide» caché, s'affiche au survol de l’accroche «&nbsp;Site en perpétuelle évolution&nbsp;»</li>
        <li>
            Répartition des projets sous trois thèmes interconnectés
            <ul>
                <li>Code : intégration et développement</li>
                <li>Design : montage, retouche, graphisme</li>
                <li>Dossier : Grand projet qui peuvent regrouper plusieurs projets ou les deux thèmes précédents</li>
            </ul>
        </li>
    </ul>
    <div class="d-flex">
        <div class="w-50">
            {{ macro.figure(
                "/images/site-perso/accueil/ptl7.png",
                "Capture page d'accueil de la version 7",
                "Page d'accueil"
            ) }}
        </div>
        <div class="w-50">
            {{ macro.figure(
                "/images/site-perso/capture/ptl7-dossier.png",
                "",
                "Rubrique dossier"
            ) }}
        </div>
    </div>
{% endset %}
{{ macro.version_ptl("version7", "Version 7 — 2 août 2015", col1, col2) }}






{% set col1 %}
    {{ macro.figure(
        "/images/site-perso/accueil/ptl8_2021-04-17.png",
        "",
        "Page d'accueil"
    ) }}
{% endset %}
{% set col2 %}
    <p class="mb-xs"><strong>Fonctionnalité</strong></p>
    <ul class="mb-s">
        <li>Backoffice : Wordpress</li>
        <li>Création d'un thème personnalisé</li>
        <li>Un seul plugin utilisé : ACF, pour personnalisé le backend</li>
        <li>Ajout de fonctionnalité au backend avec le plugin ACF</li>
        <li>Grille Mansory en Full CSS</li>
        <li>Suppression des accès rapide</li>
        <li>Script JavaScript natif de contrôle de saisi pour le formulaire de contact</li>
        <li>Galerie d’image en full HTML/CSS style lightbox</li>
    </ul>
    <p class="mb-xs"><strong>Design</strong></p>
    <ul>
        <li>Logo svg responsive</li>
        <li>Thème sombre pour mettre en valeur le contenu</li>
        <li>Palette de couleur harmonieuse et accessiblle</li>
        <li>Mosaïque style grid Mansory</li>
    </ul>
{% endset %}
{{ macro.version_ptl("version8", "Version 8 — 7 mai 2020", col1, col2) }}






{% set col1 %}
    {{ macro.figure(
        "/images/site-perso/accueil/ptl9_2021-04-17.png",
        "",
        "Page d'accueil"
    ) }}
{% endset %}
{% set col2 %}
    <p class="mb-xs"><strong>Fonctionnalité</strong></p>
    <ul class="mb-s">
        <li>Site statique avec eleventy</li>
        <li>Stylguide qui suit le code</li>
        <li>Déploiement automatique avec netlify</li>
        <li>Code open source du GitHub</li>
        <li>Rédaction d'un <a href="{{ metadata.siteUrl }}/recueil/journal-de-bord-ptl9/">journal de bord</a> pour sa réalisation</li>
        <li>Mosaique avec image responsive</li>
        <li>image lazy loading</li>
        <li>backoffice : <a href="{{ metadata.siteUrl }}/recueil/gitpod/">Gitpod</a> !</li>
    </ul>
    <p class="mb-xs"><strong>Design</strong></p>
    <ul>
        <li>Desing minimalist</li>
    </ul>
{% endset %}
{{ macro.version_ptl("version9", "Version 9 — en cours", col1, col2) }}
