---
layout: layout/standard.njk
titre: "Le sou des écoles"
tags: realisations
date: 2025-10-08
mosaiqueImage: "sou-des-ecoles"
mosaiqueImageExtension: ".svg"
description: "Affiche réalisés pour le sou des écoles de mon village."
---
{% import "macro/contenu.njk" as macro %}

{{ macro.h2("Soutenir les projets éducatifs et culturels") }}

<div class="d-flex mb-m">
    <div class="w-30">
        <img src="{{ metadata.siteUrl }}/images/sou-des-ecoles/logo-horizontal.svg" alt="">
    </div>
    <div class="w-70">
            Le sou des écoles est une association locale qui organise diverses manifestations dans le but de récolter des fonds qui serviront à financer tout ou partie de projets à vocation pédagogique et/ou culturelle initiés par l'équipe enseignante de l'école auquel elle est rattachée.
        </p>
    </div>
</div>



{{ macro.h2("Réalisation") }}

{{ macro.h3("Agendas", "16 octobre 2025") }}

<figure role="figure" aria-label="Flyer distribué aux parent d'élèves pour annoncer les prochainne événements organisés par le sou des écoles" class="mb-m">
    <div class="d-flex">
        <div class="w-33">
            <img src="{{ metadata.siteUrl }}/images/sou-des-ecoles/2025-agenda.png" alt="">
        </div>
        <div class="w-66">
            <figcaption class="text-left">
                Flyer distribué aux parent d'élèves pour annoncer les prochainne événements organisés par le sou des écoles
            </figcaption>
        </div>
    </div>
</figure>



{{ macro.h3("Boum Halloween", "8 octobre 2025") }}

<div class="d-flex">
    <div class="w-33">
        <figure role="figure" aria-label="Affiche d'entrée de la boum Halloween avec le prix d'entrée et les gourmandises offertes">
            <img src="{{ metadata.siteUrl }}/images/sou-des-ecoles/2025-haloween-entree.png" alt="">
            <figcaption class="text-left">
                Affiche d'entrée de la boum Halloween avec le prix d'entrée et les gourmandises offertes
            </figcaption>
        </figure>
    </div>
    <div class="w-33">
        <figure role="figure" aria-label="Pencarte pour signaler la caisse">
            <img src="{{ metadata.siteUrl }}/images/sou-des-ecoles/2025-haloween-caisse.png" alt="">
            <figcaption class="text-left">
                Pencarte pour signaler la caisse
            </figcaption>
        </figure>
    </div>
    <div class="w-33">
        <figure role="figure" aria-label="Menu de la buvette">
            <img src="{{ metadata.siteUrl }}/images/sou-des-ecoles/2025-haloween-buvette.png" alt="">
            <figcaption class="text-left">
                Menu de la buvette
            </figcaption>
        </figure>
    </div>
</div>

