<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% if accueil %}
                PTL9 - Démo
            {% else %}
                {{titre}} - PTL9
            {% endif %}
        </title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    </head>
    <body class="d-flex fd-c">
        <header class="d-flex jc-sb ai-c fw-w p-header bordure-b">
            <div class="mr-m">
                {% if accueil %}
                    <h1 class="texte-1">Pierre Tampon-Lajarriette</h1>
                {% else %}
                    <a href="/" class="texte-1">Pierre Tampon-Lajarriette</a><br>
                {% endif %}
                <span class="texte-3">Front-End Designer<span class="clignoter">_</span></span>
            </div>
            <nav>
                <ul class="d-flex menu__conteneur">
                    {% for menu in collections.menuPrincipal %}
                        <li class="{% if page.url == menu.url %} texte-menu--actif{% endif %}">
                            {% if page.url == menu.url %}
                                {% if menu.data.titreMenu %}
                                    {{ menu.data.titreMenu }}
                                {% else %}
                                    {{ menu.data.titre }}
                                {% endif %}
                            {% else %}
                                <a class="texte-menu" href="{{ menu.url | url }}">
                                    {% if menu.data.titreMenu %}
                                        {{ menu.data.titreMenu }}
                                    {% else %}
                                        {{ menu.data.titre }}
                                    {% endif %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li>
                        <input type="checkbox" id="switch-theme" class="hide-checkbox js--switch">
                        <label for="switch-theme" class="texte-menu">
                            <span class="js--switch-clair">Thème clair</span>
                            <span class="js--switch-sombre hide">Thème sombre</span>
                        </label>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="s_page{% if md %} md{% endif %}">
            {% if accueil %}
            {% else %}
                <h1 class="texte-2 mb-m">{{titre}}</h1>
            {% endif %}
            {{content | safe}}
        </main>
        <footer class="d-flex jc-sb fw-w p-footer texte-4 bordure-h">
            <div class="mr-m">
                Pas de cookie - Pas de tracking
            </div>
            <nav class="">
                <ul class="d-flex c_ml-s">
                    <li>
                        <a class="texte-menu" href="https://twitter.com/pierre_tl">Twitter</a>
                    </li>
                    <li>
                        <a class="texte-menu" href="https://codepen.io/pierre_tl">CodePen</a>
                    </li>
                    <li>
                        <a class="texte-menu" href="https://github.com/pierretl">GitHub</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </body>
    <script type="text/javascript" src="/js/dark-light-mode.js"></script>
</html>