<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% include "include/head.njk" %}
    </head>
    <body class="d-flex fd-c">
        <header class="d-flex jc-sb ai-c fw-w pt-m px-tranche mb-m__enfant bordure-b">
            <div class="mr-m">
                {% include "include/titre-page.njk" %}
                <a href="{{ metadata.siteUrl }}/recueil/intitule-poste/" class="ts-l tg1-2 th-09 tw-4 lien-planque">
                    <span aria-hidden="true" class="js--ecris"></span><span aria-hidden="true" class="clignote">_</span>
                    <span class="sr-only">Front-End Designer</span>
                </a>
            </div>
            <nav class="d-flex mr-m__enfant">
                <ul class="d-flex mr-m__enfant">
                    {% for menu in collections.menuPrincipal %}
                        <li class="{% if page.url == menu.url %} tg1-1 td-1{% endif %}">
                            {% if page.url == menu.url %}
                                {% if menu.data.titreMenu %}
                                    {{ menu.data.titreMenu }}
                                {% else %}
                                    {{ menu.data.titre }}
                                {% endif %}
                            {% else %}
                                <a class="tg1-1 td-0" href="{{ menu.url | url }}">
                                    {% if menu.data.titreMenu %}
                                        {{ menu.data.titreMenu }}
                                    {% else %}
                                        {{ menu.data.titre }}
                                    {% endif %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li>
                        <a class="tg1-1 td-0" href="mailto:&#99;on&#116;&#97;%63&#116;&#64;%70i&#101;%72%72e%2e&#116;%6c">
                            Contact
                        </a>
                    </li>
                </ul>
                {% include "include/switch-mode.html" %}
            </nav>
        </header>
        <main class="s_page{% if markdown %} markdown{% endif %}{% if accueil %} var--mosaique{% endif %}">
            {% if accueil or pasDeTitre %}
            {% else %}
                <h1 class="ts-xl tg1-1 tw-4 mb-m">{{titre}}</h1>
            {% endif %}
            {{content | safe}}
        </main>
        {% include "include/footer.html" %}
        <script src="/js/dark-light-mode.js"></script>
        <script src="/js/machine-a-ecrire.js"></script>
        {% include "include/svg.html" %}
    </body>
</html>