<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        {% include "include/head.njk" %}
    </head>
    <body class="d-flex fd-c">
        <header class="d-flex jc-sb ai-c fw-w pt-m px-tranche mb-m__enfant bordure-b">
            <div class="mr-m">
                {% include "include/titre-page.njk" %}
                <span class="ts-l tg1-2 th-09 tw-4">Styleguide<span class="clignote">_</span></span>
            </div>
            <nav class="d-flex mr-m__enfant">
                <ul class="d-flex mr-m__enfant">
                    {% for styleguide in collections.styleguidev9 %}
                        <li class="{% if page.url == styleguide.url %} tg1-1 td-1{% endif %}">
                            {% if page.url == styleguide.url %}
                                {{ styleguide.data.titre }}
                            {% else %}
                                <a href="{{ styleguide.url | url }}" class="tg1-1 td-0">
                                    {{ styleguide.data.titre }}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {% include "include/switch-mode.html" %}
            </nav>
        </header>
        <main class="px-tranche py-s{% if markdown %} markdown var--styleguide{% endif %}">
            {{content | safe}}
        </main>
        <script src="/js/dark-light-mode.js"></script>
        {% include "include/svg.html" %}
    </body>
</html>