<a href="" rel="external" class="">
    label
    <sup class="external-link-info">
        <span class="icon-external" aria-hidden="true"></span>
        &nbsp;(<span class="screen-reader-text">lien&nbsp;</span>externe)
    </sup>
</a>