{% import "macro/menuPrincipal.njk" as menu %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include "../include/head.njk" %}
        {% if styleCss %}
            <link href="/js/{{ styleCss }}" rel="stylesheet"/>
        {% endif %}
    </head>
    <body class="d-flex fd-c">
        {% include "../include/evitement.html" %}
        <header class="d-flex jc-sb ai-c fw-w pt-m px-tranche bordure-b">
            <div class="mb-m">
                {% include "../include/titre-page.njk" %}
            </div>
            <nav class="d-flex mb-s">
                <span style="width:{{ metadata.tailleLogo }}" class="mr-xs"></span>
                <ul class="d-flex ai-c mr-m__enfant mb-s__enfant">
                    {{ menu.li_menu(metadata.siteUrl, titreMenu, 'Réalisation', 'index') }}
                    {{ menu.li_menu(metadata.siteUrl, titreMenu, 'Recueil') }}
                    {{ menu.li_menu(metadata.siteUrl, titreMenu, 'Contact') }}
                    {% include "../include/menu-recherche.njk" %}
                    <li>
                        {% include "../include/switch-mode.html" %}
                    </li>
                </ul>
            </nav>
        </header>
        <main id="contenu" tabindex="-1" role="main" class="s_page{% if markdown %} markdown{% endif %}{% if accueil %} var--mosaique{% endif %}{% if classCssMain %} {{ classCssMain }}{% endif %}">

            {% include "../include/fil-ariane.njk" %}
            
            {% if wip %}
                <p class="ts-xl tg1-4 mb-l">
                    (En cours de rédaction / mise en forme)
                </p>
            {% endif %}
            
            {% if accueil or pasDeTitre %}
            {% else %}
                {% if date %}
                    <h1 class="ts-xl tg1-1 tw-4 js--go-top-cible">{{titre | safe }}</h1>
                    <span class="d-block tg1-2 mb-m">{{ date | frDate | safe }}</span>
                {% else %}
                    <h1 class="ts-xl tg1-1 tw-4 mb-m js--go-top-cible">{{titre | safe }}</h1>
                {% endif %}
            {% endif %}

            {{content | safe}}

            <a class="bouton sticky-retour js--go-top-btn hide" href="#contenu" title="Retour au début du contenu">Début page</a>

        </main>
        {% include "../include/footer.html" %}
        <script>
{% include "include/dark-light-mode.js" %}
{% include "include/go-top.js" %}
        </script>
        {% if scriptJs %}
            <script src="/js/{{ scriptJs }}"></script>
        {% endif %}
        {% include "../include/svg.html" %}
    </body>
</html>
