::selection {
  background: var(--gamme2__fond);
  color: var(--gamme2__texte1);
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  background: var(--gamme1__fond);

  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: 'Raleway', sans-serif;
  font-size: $texte-m;
  font-weight: 300;
  color: var(--gamme1__texte1);
}

blockquote,
figure,
pre,
ul,
ol,
p
{
  margin: 0;
}

main ul {
  @include liste;
}

ul,
ul.reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,h2,h3,h4,h5,h6 {
  font-size: $texte-m;
  font-weight: normal;
  margin: 0;
}

code {
  background-color: #000;
  color: #fff;
}

pre:not([class]) {
  padding: $espace-s;
  background-color: #000;
  color: #fff;
  overflow: auto;
}

hr {
  margin: 0;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

figure {
  display: inline-block;
}

figcaption {
  margin-top:$espace-xs;
  font-style: italic;
  text-align: center;
  color: var(--gamme1__texte2);
}