::selection {
  background: var(--gamme2__fond);
  color: var(--gamme2__texte1);
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  background: var(--gamme1__fond);

  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: 'FontPtl', sans-serif;
  font-size: $texte-m;
  color: var(--gamme1__texte1);
}

blockquote,
figure,
pre,
ul,
ol,
p
{
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-size: $texte-m;
  font-weight: normal;
  margin: 0;
}

code {
  padding: 3px 5px;
  border-radius: $radius-defaut;
  background-color: $arsenic;
  color: $peach;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: $texte-m;
}
pre code {
  padding: 0;
}

pre:not([class]) {
  padding: $espace-s;
  background-color: $arsenic;
  color: $peach;
  overflow: auto;
}

hr {
  margin: 0;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

figure {
  display: inline-block;
}

figcaption {
  margin-top:$espace-xs;
  font-style: italic;
  text-align: center;
  color: var(--gamme1__texte2);
  font-weight: 500;
}

blockquote {
  position: relative;
  padding-left: $espace-s;
  border-left: 1px solid var(--gamme1__texte4);
  color: var(--gamme1__texte1);
}
blockquote p {
  position: relative;
}

blockquote:before,
blockquote p:after {
  position: absolute;
  color: var(--gamme1__texte4);
  font-size: rem-calc(40);
  text-shadow: -3px 0 var(--gamme1__fond), 0 3px var(--gamme1__fond), 3px 0 var(--gamme1__fond), 0 -3px var(--gamme1__fond);
}

blockquote:before {
  content: "«";
  transform: translate3d(-50%, -50%, 0);
  top: .2rem;
  left: 0;
}

//prévois un espace minimum pour faire apparaitre le »
blockquote p {
  padding-right: rem-calc(40/2);
}

blockquote p:after {
  content: " »";
  bottom: -0.7rem;
  margin-left: 3px;
}

cite {
  display: inline-block;
  margin-top: $espace-s;
  color: var(--gamme1__texte4);
  font-weight: 500;
}

table {
  border:1px solid var(--gamme1__bordure);
  border-collapse: collapse;
}
table th,
table td {
  padding: 7px;
  border:1px solid var(--gamme1__bordure);
}
