/*--------------------------------------------------------------------*/
/* Couleurs                                                     */
/*--------------------------------------------------------------------*/
$grey-dune: #332f35;
$arsenic: #454047;
$grey-davy: #575757;
$grey-dove: #6D6D6D;
$grey-quill: #d3d3d3;
$grey-pale: #FDFDFE;

$green-la-salle: #00873E;
$aquamarine-medium: #54DD93;

$corn-harvest: #9B6B00;
$peach: #F4BB7E;





/*--------------------------------------------------------------------*/
/* Thème Foncé (défaut)                                               */
/*--------------------------------------------------------------------*/
:root {
  --gamme1__fond: #{$grey-dune};
  --gamme1__bordure: #{$grey-quill};
  --gamme1__texte1: #{$grey-pale};
  --gamme1__texte2: #{$grey-quill};
  --gamme1__texte3: #{$aquamarine-medium};
  --gamme1__texte4: #{$peach};

  --gamme2__fond: #{$aquamarine-medium};
  --gamme2__texte1: #{$grey-dune};

  --gamme3__fond: #{$arsenic};
  --gamme3__bordure: #{$peach};
  --gamme3__texte1: #{$grey-pale};
  --gamme3__texte2: #{$grey-quill};
}


/*--------------------------------------------------------------------*/
/* Thème Clair                                                        */
/*--------------------------------------------------------------------*/
[data-mode="light"] {
  --gamme1__fond: #{$grey-pale};
  --gamme1__bordure: #{$grey-dove};
  --gamme1__texte1: #{$grey-davy};
  --gamme1__texte2: #{$grey-dove};
  --gamme1__texte3: #{$green-la-salle};
  --gamme1__texte4: #{$corn-harvest};

  --gamme2__fond: #{$green-la-salle};
  --gamme2__texte1: #{$grey-pale};

  --gamme3__fond: #{$grey-quill};
  --gamme3__bordure: #{$corn-harvest};
  --gamme3__texte1: #{$grey-davy};
  --gamme3__texte2: #{$grey-dove};
}
