/*--------------------------------------------------------------------*/
/* Focus                                                              */
/*--------------------------------------------------------------------*/
a:not([class]):focus:not(:hover),
a.tg1-1:focus:not(:hover),
input:focus + label svg,
.s_mosaique__lien:focus:not(:hover)
{
  outline: .2rem dashed var(--gamme1__texte3);
  outline-offset: .2rem;
}
