/*--------------------------------------------------------------------*/
/* Foncé -> défaut                                                    */
/*--------------------------------------------------------------------*/
:root {
  --gamme1__fond: #{$gamme-f1__fond};
  --gamme1__bordure: #{$gamme-c1__bordure};
  --gamme1__texte1: #{$gamme-f1__texte1};
  --gamme1__texte2: #{$gamme-f1__texte2};
  --gamme1__texte3: #{$gamme-f1__texte3};
  --gamme1__texte4: #{$gamme-f1__texte4};

  --gamme2__texte1: #{$gamme-f2__texte1};
  --gamme2__fond: #{$gamme-f2__fond};

  --ascii1: #{$gamme-f-ascii1};
  --ascii2: #{$gamme-f-ascii2};
  --ascii3: #{$gamme-f-ascii3};
  --ascii4: #{$gamme-f-ascii4};
  --ascii5: #{$gamme-f-ascii5};
  --ascii6: #{$gamme-f-ascii6};
}


/*--------------------------------------------------------------------*/
/* Clair                                                              */
/*--------------------------------------------------------------------*/
[data-mode="light"] {
  --gamme1__fond: #{$gamme-c1__fond};
  --gamme1__bordure: #{$gamme-f1__bordure};
  --gamme1__texte1: #{$gamme-c1__texte1};
  --gamme1__texte2: #{$gamme-c1__texte2};
  --gamme1__texte3: #{$gamme-c1__texte3};
  --gamme1__texte4: #{$gamme-c1__texte4};

  --gamme2__texte1: #{$gamme-c2__texte1};
  --gamme2__fond: #{$gamme-c2__fond};

  --ascii1: #{$gamme-c-ascii1};
  --ascii2: #{$gamme-c-ascii2};
  --ascii3: #{$gamme-c-ascii3};
  --ascii4: #{$gamme-c-ascii4};
  --ascii5: #{$gamme-c-ascii5};
  --ascii6: #{$gamme-c-ascii6};
}