:root {
  --gamme1__fond: #{$gamme-f1__fond};
  --gamme1__bordure: #{$gamme-c1__accroche};
  --gamme1__texte: #{$gamme-f1__texte};
  --gamme1__accroche: #{$gamme-f1__accroche};
  --gamme1__lien: #{$gamme-f1__lien};
  --gamme1__lien-survol: #{$gamme-f1__lien-survol};
  --gamme1__lien-visite: #{$gamme-f1__lien-visite};
  --gamme1__lien-visite-survol: #{$gamme-f1__lien-visite-survol};

  --gamme1__texte1: #{$gamme-f1__texte1};
  --gamme1__texte2: #{$gamme-f1__texte2};
  --gamme1__texte3: #{$gamme-f1__texte3};
  --gamme1__texte4: #{$gamme-f1__texte4};
  --gamme1__texte5: #{$gamme-f1__texte5};

}

[data-mode="light"] {
  --gamme1__fond: #{$gamme-c1__fond};
  --gamme1__bordure: #{$gamme-f1__accroche};
  --gamme1__texte: #{$gamme-c1__texte};
  --gamme1__accroche: #{$gamme-c1__accroche};
  --gamme1__lien: #{$gamme-c1__lien};
  --gamme1__lien-survol: #{$gamme-c1__lien-survol};
  --gamme1__lien-visite: #{$gamme-c1__lien-visite};
  --gamme1__lien-visite-survol: #{$gamme-c1__lien-visite-survol};

  --gamme1__texte1: #{$gamme-c1__texte1};
  --gamme1__texte2: #{$gamme-c1__texte2};
  --gamme1__texte3: #{$gamme-c1__texte3};
  --gamme1__texte4: #{$gamme-c1__texte4};
  --gamme1__texte5: #{$gamme-c1__texte5};

}