
/*--------------------------------------------------------------------*/
/* Grille                                                             */
/*--------------------------------------------------------------------*/
.s_mosaique {
  /* pour ie11, surcharger par la suite - début */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* pour ie11, surcharger par la suite - fin */

  justify-content: center; // centre le mosaique
}




/*--------------------------------------------------------------------*/
/* Lien                                                               */
/*--------------------------------------------------------------------*/
.s_mosaique__lien {
  position: relative;
  display: grid;
  overflow: hidden;
  text-decoration: none;
  background-color: var(--gamme3__fond);
  color: var(--gamme3__texte1);
  box-shadow: 0 0 0 3px var(--gamme1__fond),
              0 0 0 6px var(--gamme1__fond);
  transition: box-shadow .5s;
}

.s_mosaique__lien:hover {
  box-shadow: 0 0 0 3px var(--gamme1__fond),
              0 0 0 6px var(--gamme1__texte3);
  transition: box-shadow .5s;
}




/*--------------------------------------------------------------------*/
/* Texte                                                              */
/*--------------------------------------------------------------------*/
.s_mosaique__texte {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: $texte-xl;
  line-height: .9;
  word-break: break-all;
  text-align: center;
  letter-spacing: 1rem;
  text-transform: lowercase;
}



/*--------------------------------------------------------------------*/
/* Taille                                                             */
/* Taille                                                             */
/*--------------------------------------------------------------------*/
.s_mosaique__2-1 {
  grid-column-end: span 2;
  grid-row-end: span 1;
}
.s_mosaique__2-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}




/*--------------------------------------------------------------------*/
/* Position                                                           */
/*--------------------------------------------------------------------*/
@supports (grid-template-columns: repeat(auto-fill,$mosaicTailleColonne)) {

  .s_mosaique {
    display:grid;
    grid-template-columns: repeat(auto-fill, $mosaicTailleColonne);
    grid-gap: $mosaicTailleGouttiereUnitaire;
    grid-auto-rows: minmax($mosaicTailleColonne, auto);
    grid-auto-flow: dense;

    //reset ie11
    flex-wrap:nowrap;
  }

  .s_mosaique__item {
    display: inherit;
  }

}




/*--------------------------------------------------------------------*/
/* Position IE                                                           */
/*--------------------------------------------------------------------*/
@include hack-ie11(".s_mosaique__item") {
  width: $mosaicTailleColonne - $mosaicTailleGouttiereUnitaire;
  height: $mosaicTailleColonne - $mosaicTailleGouttiereUnitaire;
  margin: $mosaicTailleGouttiereUnitaire / 2;
}

@include hack-ie11(".s_mosaique__lien") {
  width: $mosaicTailleColonne - $mosaicTailleGouttiereUnitaire;
  height: $mosaicTailleColonne - $mosaicTailleGouttiereUnitaire;
  display:flex;
  overflow: hidden;
}



/*--------------------------------------------------------------------*/
/* Élément                                                            */
/*--------------------------------------------------------------------*/
@include hack-ie11(".s_mosaique__item"){


}
