.s_page {
  flex-grow: 1;

  margin: $espace-m auto;
  padding: $espace-m $espace-tranche--small;

  width: 100%;
  max-width: 960px;
}

@include breakpoint(large) {
  .s_page {
    padding: $espace-m $espace-tranche--large;
  }
}