---
layout: layout/styleguide.njk
titre: "Block"
tags: "styleguidev9"
---
{% import "macro/styleguide.njk" as macro %}




{% set demo %}
    <span class="d-block" href="#">span en mode block</span>
{% endset %}
{% set code %}
<span class="d-block" href="#">span en mode block</span>
{% endset %}
{{ macro.demo_code("Block", demo, code) }}




{% set demo %}
    <div class="d-flex" style="border: 1px solid var(--gamme1__texte3);margin-bottom:10px">Flexbox</div>
    <div class="d-flex jc-sb" style="border: 1px solid var(--gamme1__texte3);margin-bottom:10px">
        <div>space-between</div>
        <div>item</div>
    </div>
    <div class="d-flex jc-c" style="border: 1px solid var(--gamme1__texte3);margin-bottom:10px">
        <div>space-center</div>
        <div>item</div>
    </div>
    <div class="d-flex ai-c" style="border: 1px solid var(--gamme1__texte3);margin-bottom:10px">
        <div>align-items:<br> center</div>
        <div>item</div>
    </div>
    <div class="d-flex fw-w" style="border: 1px solid var(--gamme1__texte3);margin-bottom:10px; width:100px">
        <div>flex-wrap: wrap;</div>
        <div>item</div>
    </div>
    <div class="d-flex fd-c" style="border: 1px solid var(--gamme1__texte3);margin-bottom:10px">
        <div>flex-direction: column;</div>
        <div>flex-direction: column;</div>
    </div>
{% endset %}
{% set code %}
<div class="d-flex">Flexbox</div>

<div class="d-flex jc-sb">
    <div>space-between</div>
    <div>item</div>
</div>

<div class="d-flex ai-c">
    <div>align-items:<br> center</div>
    <div>item</div>
</div>

<div class="d-flex jc-c" style="border: 1px solid var(--gamme1__texte3);margin-bottom:10px">
    <div>space-center</div>
    <div>item</div>
</div>

<div class="d-flex fw-w">
    <div>flex-wrap: wrap;</div>
    <div>item</div>
</div>

<div class="d-flex fd-c">
    <div>flex-direction: column;</div>
    <div>flex-direction: column;</div>
</div>
{% endset %}
{{ macro.demo_code("Flexbox", demo, code) }}




{% set demo %}
<div><div class="w-100" style="border:1px solid var(--gamme1__texte3)">largeur 100%</div></div>
<div><div class="w-70" style="border:1px solid var(--gamme1__texte3)">largeur 70%</div></div>
<div><div class="w-50" style="border:1px solid var(--gamme1__texte3)">largeur 50%</div></div>
<div><div class="w-33" style="border:1px solid var(--gamme1__texte3)">largeur 33.333%</div></div>
<div><div class="w-30" style="border:1px solid var(--gamme1__texte3)">largeur 30%</div></div>
{% endset %}
{% set code %}
<div class="w-100">largeur 100%</div>

<div class="w-70">largeur 70%</div>

<div class="w-50">largeur 50%</div>

<div class="w-33">largeur 33.333%</div>

<div class="w-30">largeur 30%</div>
{% endset %}
{{ macro.demo_code("Largeur", demo, code) }}




{% set intro %}
    <strong>Medium down :</strong> Les colonnes font 100% et sont espacé de <a href="../marge/">$espace-m</a>
    <br>
    <strong>large :</strong> La deuxième colonne est de la taille indiqué moins la taille de la gouttière <a href="../marge/">$espace-m</a>
{% endset %}
{% set demo %}
    <div class="d-flex mb-l">
        <div class="w-" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 1</div>
        <div class="w-" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 2</div>
    </div>
    <div class="d-flex mb-l">
        <div class="w-50" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 1</div>
        <div class="w-50" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 2</div>
    </div>
    <div class="d-flex mb-l">
        <div class="w-70" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 1</div>
        <div class="w-30" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 2</div>
    </div>
    <div class="d-flex">
        <div class="w-33" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 1</div>
        <div class="w-33" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 2</div>
        <div class="w-33" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 3</div>
    </div>
{% endset %}
{% set code %}
<div class="d-flex mb-l">
    <div class="w-">Largeur du contenu</div>
    <div class="w-">Largeur du contenu</div>
</div>

<div class="d-flex mb-l">
    <div class="w-50">Colonne 1</div>
    <div class="w-50">Colonne 2</div>
</div>

<div class="d-flex">
    <div class="w-70">Colonne 1</div>
    <div class="w-30">Colonne 2</div>
</div>

<div class="d-flex">
    <div class="w-33">Colonne 1</div>
    <div class="w-33">Colonne 2</div>
    <div class="w-33">Colonne 3</div>
</div>
{% endset %}
{{ macro.demo_code("Grille", demo, code, intro) }}




{% set demo %}
    <div class="hide">Caché</div>
{% endset %}
{% set code %}
<div class="hide">Caché</div>
{% endset %}
{{ macro.demo_code("Bloc caché", demo, code) }}




{% set demo %}
    <input type="checkbox" class="hide-checkbox" id="checkCache"/>
    <label for="checkCache">Démo</label>
{% endset %}
{% set code %}
<input type="checkbox" class="hide-checkbox" id="demo"/>
<label for="demo">Démo</label>
{% endset %}
{{ macro.demo_code("Checkbox caché", demo, code) }}




{% set demo %}
    <div class="sr-only">Texte pour les screen reader uniquement</div>
{% endset %}
{% set code %}
<div class="sr-only">Texte pour les screen reader uniquement</div>
{% endset %}
{{ macro.demo_code("Screen reader only", demo, code) }}




{% set demo %}
    <ul class="ul-reset scroll-x mb-xs">
        <li>11111111111111111111111111111111111111111111111111111111</li>
        <li>$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$</li>
        <li>##############################################</li>
    </ul>
    <p class="tg1-4 tw-5 mb-s">
        <em>legende si nécessaire</em>
    </p>
    <br><br>
    <ul class="ul-reset scroll-x var--90 mb-xs">
        <li>11111111111111111111111111111111111111111111111111111111</li>
        <li>$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$</li>
        <li>##############################################</li>
    </ul>
{% endset %}
{% set code %}
<ul class="ul-reset scroll-x mb-xs">
    <li>un</li>
    <li>deux</li>
    <li>trois</li>
</ul>
<p class="tg1-4 tw-5 mb-s">
    <em>Légende si nécessaire</em>
</p>

    <ul class="ul-reset scroll-x var--90 mb-xs">
        <li>un</li>
        <li>deux</li>
        <li>trois</li>
    </ul>
{% endset %}
{{ macro.demo_code("Scroll-x", demo, code) }}
