---
layout: layout/standard.njk
titre: "Couleur"
tags: ["styleguideptl", "texte"]
description: "Palette de couleur harmonieuse et accessible"
date: 2021-03-01
---
{% import "macro/styleguide.njk" as styleguide %}



{% set demo %}
    <p class="tg1-1">Une : Texte courant</p>
    <p class="tg1-2">Deux : Texte secondaire, légende image, date, bloc scroll horizontal</p>
    <p class="tg1-3">Trois : Lien</p>
    <p class="tg1-4">Quatre : Titre de niveau 2, Citation, puce des liste non ordonnée</p>
{% endset %}
{% set code %}
<p class="tg1-1">Une : Texte courant</p>
<p class="tg1-2">Deux : Texte secondaire, légende image, date, bloc scroll horizontal</p>
<p class="tg1-3">Trois : Lien</p>
<p class="tg1-4">Quatre : Titre de niveau 2, Citation, puce des liste non ordonnée</p>
{% endset %}
{{ styleguide.demo_code(demo, code) }}
