---
layout: layout/styleguide.njk
titre: "Déco"
tags: "styleguidev9"
---
{% import "macro/styleguide.njk" as macro %}




{% set demo %}
    <div class="clignote">Clignote</div>
{% endset %}
{% set code %}
<div class="clignote">Clignote</div>
{% endset %}
{{ macro.demo_code("Clinote", demo, code) }}




{% set demo %}
    <div class="bordure-h">contenu</div>
{% endset %}
{% set code %}
<div class="bordure-h"></div>
{% endset %}
{{ macro.demo_code("Bordure haut", demo, code) }}




{% set demo %}
    <div class="bordure-b">contenu</div>
{% endset %}
{% set code %}
<div class="bordure-b"></div>
{% endset %}
{{ macro.demo_code("Bordure bas", demo, code) }}




{% set demo %}
    <div class="bordure-l">contenu</div>
{% endset %}
{% set code %}
    <div class="bordure-l"></div>
{% endset %}
{{ macro.demo_code("Bordure gauche", demo, code) }}




{% set demo %}
    <div class="bordure">contenu</div>
{% endset %}
{% set code %}
    <div class="bordure"></div>
{% endset %}
{{ macro.demo_code("Bordure", demo, code) }}




{% set demo %}
    <svg width="18px" height="18px" class="fill-mode">
        <use xlink:href="#darkMode"></use>
    </svg>
{% endset %}
{% set code %}
<svg width="18px" height="18px" class="fill-mode">
    <use xlink:href="#darkMode"></use>
</svg>
{% endset %}
{{ macro.demo_code("Coloration SVG", demo, code) }}




{% set intro %}
    <strong>Thème sombre : </strong>Fond clair + padding
    <br>
    <strong>Thème clair : </strong> transparent sans padding
{% endset %}
{% set demo %}
    <img src="{{ metadata.siteUrl }}/images/cuyz/logo-notiz.png" alt="logo Notiz" loading="lazy" class="fond-clair"/>
{% endset %}
{% set code %}
<img src="" alt="" loading="lazy" class="fond-clair"/>
{% endset %}
{{ macro.demo_code("Fond", demo, code, intro) }}




{% set intro %}
    Empêche que l'image soit flout
{% endset %}
{% set demo %}
    <img src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon_team-fun.gif" alt="favicon en pixel art" loading="lazy" class="pa"/>
{% endset %}
{% set code %}
    <img src="" alt="" loading="lazy" class="pa"/>
{% endset %}
{{ macro.demo_code("Pixel Art", demo, code, intro) }}
