---
layout: layout/styleguide.njk
titre: "Déco"
tags: "styleguidev9"
---
{% import "macro/styleguide.njk" as styleguide %}
{% import "macro/contenu.njk" as macro %}

{{ macro.sommaire(["Bordure", "Coloration SVG", "Fond", "Image pixel art" ]) }}


{{ macro.h2("Bordure", "ancre") }}

{% set demo %}
    <div class="bordure-h">Haut</div>
{% endset %}
{% set code %}
<div class="bordure-h"></div>
{% endset %}
{{ styleguide.demo_code(demo, code, "", "intermédiaire") }}



{% set demo %}
    <div class="bordure-b">Bas</div>
{% endset %}
{% set code %}
<div class="bordure-b"></div>
{% endset %}
{{ styleguide.demo_code(demo, code, "", "intermédiaire") }}



{% set demo %}
    <div class="bordure-l">Gauche</div>
{% endset %}
{% set code %}
    <div class="bordure-l"></div>
{% endset %}
{{ styleguide.demo_code(demo, code, "", "intermédiaire") }}



{% set demo %}
    <div class="bordure">Bordure</div>
{% endset %}
{% set code %}
    <div class="bordure"></div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}




{{ macro.h2("Coloration SVG", "ancre") }}
{% set demo %}
    <svg width="18px" height="18px" class="fill--mode">
        <use xlink:href="#darkMode"></use>
    </svg>
{% endset %}
{% set code %}
<svg width="18px" height="18px" class="fill--mode">
    <use xlink:href="#darkMode"></use>
</svg>
{% endset %}
{{ styleguide.demo_code(demo, code) }}



{{ macro.h2("Fond", "ancre") }}
{% set intro %}
    <strong>Thème sombre : </strong>Fond clair + padding
    <br>
    <strong>Thème clair : </strong> transparent sans padding
{% endset %}
{% set demo %}
    <img src="{{ metadata.siteUrl }}/images/cuyz/logo-notiz.png" alt="logo Notiz" loading="lazy" class="fond-clair"/>
{% endset %}
{% set code %}
<img src="" alt="" loading="lazy" class="fond-clair"/>
{% endset %}
{{ styleguide.demo_code(demo, code, intro) }}



{{ macro.h2("Image pixel art", "ancre") }}
{% set intro %}
    Empêche que l'image soit flout
{% endset %}
{% set demo %}
    <img src="{{ metadata.siteUrl }}/images/pixel-art/favicon/favicon_team-fun.gif" alt="favicon en pixel art" loading="lazy" class="pa"/>
{% endset %}
{% set code %}
    <img src="" alt="" loading="lazy" class="pa"/>
{% endset %}
{{ styleguide.demo_code(demo, code, intro) }}
