---
layout: layout/standard.njk
titre: "Formulaire"
tags: ["styleguideptl", "bloc"]
description: "Mise en forme  de checkbox masqué visuellement et input text"
date: 2021-03-01
---
{% import "macro/styleguide.njk" as styleguide %}





{% set demo %}
    <input type="checkbox" class="hide-checkbox" id="checkCache"/>
    <label for="checkCache">Démo</label>
{% endset %}
{% set code %}
<input type="checkbox" class="hide-checkbox" id="demo"/>
<label for="demo">Démo</label>
{% endset %}
{{ styleguide.demo_code(demo, code) }}





{% set demo %}
    <input type="text" placeholder="type text"/>
{% endset %}
{{ styleguide.demo_code(demo, demo) }}





{% set demo %}
<div class="pr w-50">
    <input type="search" class="search js--rechercheBtn" placeholder="Demo..." />
    <svg class="pa-cr fill--mode" width="24px" height="24px">
        <use xlink:href="#loupe"></use>
    </svg>
</div>
{% endset %}
{{ styleguide.demo_code(demo, demo) }}





{% set demo %}
    <textarea placeholder="Textarea"></textarea>
{% endset %}
{{ styleguide.demo_code(demo, demo) }}





{% set demo %}
    <button class="bouton">Bouton</button>
{% endset %}
{{ styleguide.demo_code(demo, demo) }}
