---
layout: layout/standard.njk
titre: "Grille"
tags: ["styleguideptl", "bloc"]
description: "Exemples de mises en page qui utilisent les utilitaires"
date: 2021-03-01
---
{% import "macro/styleguide.njk" as styleguide %}




{% set intro %}
    <strong>Medium down :</strong> Les colonnes font 100% et sont espacé de <a href="../marge/">$espace-m</a>
    <br>
    <strong>Large :</strong> La deuxième colonne est de la taille indiqué moins la taille de la gouttière <a href="../marge/">$espace-m</a>
{% endset %}
{% set demo %}
    <div class="d-flex">
        <div class="w-" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 1</div>
        <div class="w-" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 2</div>
    </div>
{% endset %}
{% set code %}
<div class="d-flex">
    <div class="w-">Largeur du contenu</div>
    <div class="w-">Largeur du contenu</div>
</div>
{% endset %}
{{ styleguide.demo_code(demo, code, intro) }}





{% set demo %}
    <div class="d-flex">
        <div class="w-50" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 1</div>
        <div class="w-50" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 2</div>
    </div>
{% endset %}
{% set code %}
<div class="d-flex">
    <div class="w-50">Colonne 1</div>
    <div class="w-50">Colonne 2</div>
</div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}





{% set demo %}
    <div class="d-flex">
        <div class="w-70" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 1</div>
        <div class="w-30" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 2</div>
    </div>
{% endset %}
{% set code %}
<div class="d-flex">
    <div class="w-70">Colonne 1</div>
    <div class="w-30">Colonne 2</div>
</div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}





{% set demo %}
    <div class="d-flex">
        <div class="w-33" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 1</div>
        <div class="w-33" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 2</div>
        <div class="w-33" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 3</div>
    </div>
{% endset %}
{% set code %}
<div class="d-flex">
    <div class="w-33">Colonne 1</div>
    <div class="w-33">Colonne 2</div>
    <div class="w-33">Colonne 3</div>
</div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}





{% set demo %}
    <div class="d-flex">
        <div class="w-33" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 1</div>
        <div class="w-66" style="box-shadow:0 0 0 1px var(--gamme1__texte3)">Colonne 2</div>
    </div>
{% endset %}
{% set code %}
<div class="d-flex">
    <div class="w-33">Colonne 1</div>
    <div class="w-66">Colonne 2</div>
</div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}
