---
layout: layout/standard.njk
titre: "Largeur"
tags: ["styleguideptl", "bloc"]
description: "Utilitaire qui fixe une largeur en pourcentage"
date: 2021-03-01
---
{% import "macro/styleguide.njk" as styleguide %}




{% set demo %}
<div><div class="w-100" style="border:1px solid var(--gamme1__texte3)">largeur 100%</div></div>
{% endset %}
{% set code %}
<div class="w-100">largeur 100%</div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}




{% set demo %}
    <div><div class="w-70" style="border:1px solid var(--gamme1__texte3)">largeur 70%</div></div>
{% endset %}
{% set code %}
<div class="w-70">largeur 70%</div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}




{% set demo %}
    <div><div class="w-50" style="border:1px solid var(--gamme1__texte3)">largeur 50%</div></div>
{% endset %}
{% set code %}<div class="w-50">largeur 50%</div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}




{% set demo %}
    <div><div class="w-33" style="border:1px solid var(--gamme1__texte3)">largeur 33.333%</div></div>
{% endset %}
{% set code %}
<div class="w-33">largeur 33.333%</div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}




{% set demo %}
    <div><div class="w-30" style="border:1px solid var(--gamme1__texte3)">largeur 30%</div></div>
{% endset %}
{% set code %}
<div class="w-30">largeur 30%</div>
{% endset %}
{{ styleguide.demo_code(demo, code) }}


