---
layout: layout/standard.njk
titre: "Liste"
tags: ["styleguideptl", "texte"]
description: "À puce, sans ordre particulier ou numéroté"
date: 2021-03-01
---
{% import "macro/contenu.njk" as macro %}
{% import "macro/styleguide.njk" as styleguide %}



{{ macro.h3("Liste standard de contenu") }}
{% set demo %}
<ul>
    <li>un</li>
    <li>deux</li>
    <li>trois</li>
</ul>
{% endset %}
{{ styleguide.demo_code(demo, demo) }}



{{ macro.h3("Liste pour sommaire") }}
{% set demo %}
<ul class="ul-sommaire">
    <li class="mb-xs">
        <a href="#" class="lien-niveau2">
            un
        </a>
    </li>
    <li class="mb-xs">
        <a href="#" class="lien-niveau2">
            deux
        </a>
    </li>
    <li class="mb-xs">
        <a href="#" class="lien-niveau2">
            trois
        </a>
    </li>
</ul>
{% endset %}
{% set nunjucks %}
    &#x7B;&#x7B; macro.sommaire(["Un", "Deux", "Trois"]) &#125;&#125;
{% endset %}
{{ styleguide.demo_code(demo, demo, "", nunjucks) }}



{{ macro.h3("Liste sans style", "Reinitialisé") }}
{% set demo %}
<ul class="ul-reset">
    <li>un</li>
    <li>deux</li>
    <li>trois</li>
</ul>
{% endset %}
{{ styleguide.demo_code(demo, demo) }}



{{ macro.h3("Liste numéroté") }}
{% set demo %}
<ol>
    <li>un</li>
    <li>deux</li>
    <li>trois</li>
</ol>
{% endset %}
{{ styleguide.demo_code(demo, demo) }}
