---
layout: layout/standard.njk
titre: "Markdown"
tags: styleguideptl
description: "Création rapide de page et "
date: 2021-03-01
---
{% import "macro/styleguide.njk" as styleguide %}





<p>Ajouté la classe CSS <code>markdown</code> à la balise du conteneur</p>

ou

<p>Sur la page utilisant le <code>layout-standard.njk</code> ajouté <code>markdown: "true"</code></p>

