---
layout: layout/standard.njk
titre: "Position"
tags: styleguideptl
description: "Positionné un élément qui sort du flux"
date: 2021-03-01
---
{% import "macro/styleguide.njk" as styleguide %}




{% set demo %}
<div class="pr">position relative</div>
{% endset %}
{{ styleguide.demo_code(demo, demo) }}
