---
layout: layout/standard.njk
titre: "Taille"
tags: ["styleguideptl", "texte"]
description: "Définit la taille de fonte utilisée pour le texte"
date: 2021-03-01
---
{% import "macro/styleguide.njk" as styleguide %}





{% set demo %}
    <p class="ts-xl">Tres grand</p>
    <p class="ts-l">Grand</p>
    <p class="">Normal, <strong>Strong</strong></p>
    <p class="ts-s">Petit</p>
{% endset %}
{% set code %}
<p class="ts-xl">Tres grand</p>
<p class="ts-l">Grand</p>
<p>Normal, <strong>Strong</strong></p>
<p class="ts-s">Petit</p>
{% endset %}
{{ styleguide.demo_code(demo, code) }}
