---
layout: layout/standard.njk
titre: "Titre"
tags: ["styleguideptl", "texte"]
description: "Décrit brièvement le sujet de la section qu'il introduit"
date: 2021-03-01
---
{% import "macro/styleguide.njk" as styleguide %}




{% set demo %}
    <p class="ts-xl tg1-1 tw-4 th-09">Nom du site - header</p>
{% endset %}
{{ styleguide.demo_code(demo, demo) }}




{% set demo %}
    <p class="ts-xl tg1-1 tw-4">Niveau 1</p>
    <p class="ts-l tg1-4 th-2 tw-4">Niveau 2</p>
    <p class="ts-l mb-s">Niveau 3</p>
    <p>Texte courant</p>
    <p class="ts-s tg1-2 tw-4">Niveau 4</p>
{% endset %}
{% set code %}
<p class="ts-xl tg1-1 tw-4">Niveau 1</p>
<p>Texte courant</p>
<p class="ts-s tg1-2 tw-4">Niveau 4</p>
{% endset %}
{% set nunjucks %}
&#x7B;&#x7B; macro.h2("Niveau 2") &#125;&#125;
&#x7B;&#x7B; macro.h2("Niveau 2", "16/08/2021") &#125;&#125;
&#x7B;&#x7B; macro.h3("Niveau 3") &#125;&#125;
&#x7B;&#x7B; macro.h3("Niveau 3", "16/08/2021") &#125;&#125;
{% endset %}
{{ styleguide.demo_code(demo, code, "", nunjucks) }}
