*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #332f35;
    color: #b3adb6;
    font-family: sans-serif;
}

a {
    color: #e5e3e6;
}

.s_main {
    width: 100%;
    max-width: 639px;
    margin-right: auto;
    margin-left: auto;
}

nav {
    background-color: #29252a;
}

nav ul {
    display :flex;
    list-style:none;
    padding: 20px 0;
}

nav li {
    padding: 0 5px;
}