.ascii {
  font-family: monospace;
  font-size: 11px;
  line-height: normal;
  padding: 20px 0;
}

.ascii__lien {
  text-decoration: none;
}

.ascii__lien:hover span,
.ascii__lien:focus span {
  color: var(--gamme1__texte1);
}

.ascii__couleur-1 { color: var(--ascii1)}
.ascii__couleur-2 { color: var(--ascii2)}
.ascii__couleur-3 { color: var(--ascii3)}
.ascii__couleur-4 { color: var(--ascii4)}
.ascii__couleur-5 { color: var(--ascii5)}
.ascii__couleur-6 { color: var(--ascii6)}
