@include breakpoint(large) {

  .sticky {
    height: 100vh;
    position: sticky;
    top: 0;
  }

}

.sticky-retour {
  position: sticky;
  bottom: $espace-xs;
  left: 100%;
  margin-right: $espace-xs;
  display: inline-block;
  text-decoration: none;
  padding: $espace-xxs $espace-xs;
}
