{% macro version_ptl(ancre, titre, titreInfo, col1, col2, col3) %}
    <a href="#{{ ancre | slug }}" class="td-0">
        <h2 id="{{ ancre | slug }}" class="ts-l tg1-4 th-2 tw-4">
            {{ titre }}
            <span class="ts-s tg1-2">— {{ titreInfo | safe }}</span>
        </h2>
    </a>
    <div class="d-flex {% if col3 %}mb-m{% else %}mb-xl{% endif %}">
        <div class="w-30">
            {{ col1 | safe }}
        </div>
        <div class="w-70">
            {{ col2 | safe }}
        </div>
    </div>
    {% if col3 %}
        <div class="d-flex mb-xl">
            {{ col3 | safe }}
        </div>
    {% endif %}
{% endmacro %}




{% macro figure(cheminImage, alt, description, class) %}
    <a class="figure" href="{{ metadata.siteUrl }}{{ cheminImage }}">
        <figure role="figure" aria-label="{{ description | safe }}"{% if class %}class="{{ class | safe }}"{% endif %}>
            <img src="{{ metadata.siteUrl }}{{ cheminImage }}" alt="{{ alt | safe }}" loading="lazy" />
            <figcaption>
                {{ description | safe }}
            </figcaption>
        </figure>
    </a>
{% endmacro %}




{% macro code(code, class) %}
    {% if class %}
        <div class="{{ class | safe }}">
            <pre class="language-html"><code>{{ code | trim }}</code></pre>
        </div>
    {% else %}
        <pre class="language-html"><code>{{ code | trim }}</code></pre>
    {% endif %}
{% endmacro %}




 {% macro h2(texte, ancre, info) %}
     <h2 class="ts-l tg1-4 th-2 tw-4{% if class %} {{ class | safe }}{% endif %}"{% if ancre %} id="{{ texte | slug  }}"{% endif %}>
         {{ texte | safe }}
         {% if info %}
             <span class="ts-s tg1-2">— {{ info | safe }}</span>
         {% endif %}
     </h2>
 {% endmacro %}




 {% macro h3(texte, info) %}
     <h3 class="ts-l mb-s">
         {{ texte | safe }}
         {% if info %}
             <span class="ts-s tg1-2">— {{ info | safe }}</span>
         {% endif %}
     </h3>
 {% endmacro %}




 {% macro h4(texte) %}
     <h4 class="mb-s">
         <strong>
             {{ texte | safe }}
         </strong>
     </h4>
 {% endmacro %}





 {% macro sommaire(liste) %}
     <h2 class="ts-l mb-s">
         Sommaire
     </h2>
     <ul class="ul-sommaire mb-l">
         {% for item in liste %}
             <li class="mb-xs">
                 <a class="lien-niveau2" href="#{{ item | slug }}">{{ item }}</a>
             </li>
         {% endfor %}
     </ul>
 {% endmacro %}





 {% macro sommaireNiveauMultiple(liste) %}
     <h2 class="ts-l mb-s">
         Sommaire v2
     </h2>
     <ul class="ul-sommaire mb-l">
         {% for ligne in liste %}
             <li class="mb-xs">

                 {% set rowloop = loop %}
                 {% for item in ligne %}


                     {% if loop.index == 1 %}
                         {% if loop.length == loop.index %}
                             <a class="lien-niveau2" href="#{{ item | slug }}">{{ item }}</a>
                         {% else %}
                             {{ item }}
                         {% endif %}
                     {% else %}
                         <ul>
                             <li>
                                 <a class="lien-niveau2" href="#{{ item | slug }}">{{ item }}</a>
                             </li>
                         </ul>
                     {% endif %}


                 {% endfor %}



             </li>
         {% endfor %}
     </ul>
 {% endmacro %}



 {% macro galerie(siteUrl, option, liste, classCssConteneur) %}
     {% if option == "pixel-art" %}
         {% set classCSSimage %} pa{% endset %}
     {% endif %}
     <ul class="ul-reset s_mosaique{% if classCssConteneur %}{{ classCssConteneur | safe }}{% endif %}">
         {% for item in liste %}
             <li class="s_mosaique__item">
                 <a href="#image-{{ loop.index }}" class="s_mosaique__lien var--galerie" id="lien-{{ loop.index }}">
                     <img src="{{ siteUrl }}{{ item }}" alt="{{ item }}" class="s_mosaique__image{{ classCSSimage }}">
                 </a>
             </li>
         {% endfor %}
     </ul>
     {% for item in liste %}
         <div id="image-{{ loop.index }}" class="s_galerie">
             <a class="s_galerie__fermer" href="#"></a>
             <div class="s_galerie__figure">
                 <img src="{{ siteUrl }}{{ item }}" alt="{{ item }}" class="s_galerie__image{{ classCSSimage }}">
                 {% if loop.first %}{% else %}
                     <a class="galerie__btn--prev" href="#image-{{ loop.index - 1 }}">Précédent</a>
                 {% endif %}
                 {% if loop.last %}{% else %}
                     <a class="galerie__btn--next" href="#image-{{ loop.index + 1 }}">Suivant</a>
                 {% endif %}
                 <a class="galerie__btn--close" href="#lien-{{ loop.index }}">Fermer</a>
             </div>
         </div>
     {% endfor %}
 {% endmacro %}



 {% macro concoursRp(titre, info, image, alt, contrainte, recompense, espacementFin) %}
     <h3 class="mb-s">
         <strong>
             {{ titre | safe }}
             {% if info %}
                 <span class="ts-s tg1-2">— {{ info | safe }}</span>
             {% endif %}
         </strong>
     </h3>
     <img src="{{ metadata.siteUrl }}{{ image }}" alt="{{ alt }}" loading="lazy" class="pa mb-s" />
     <div class="d-flex {% if espacementFin %}{{ espacementFin }}{% else %}mb-l{% endif %}">
         <div class="w-70">
             <h4 class="mb-s tw-4">Contraintes</h4>
             {{ contrainte | safe }}
         </div>
         <div class="w-30">
             <h4 class="mb-s tw-4">Récompense</h4>
             {% if recompense == "or" %}
                 <div class="d-flex ai-c">
                     <span>Médaille d'or</span>&nbsp;
                     <img src="{{ metadata.siteUrl }}/images/pixel-art/medaille/or.png" alt="Or" loading="lazy" class="pa" />
                 </div>
             {% endif %}
             {% if recompense == "argent" %}
                 <div class="d-flex ai-c">
                     <span>Médaille d'argent</span>&nbsp;
                     <img src="{{ metadata.siteUrl }}/images/pixel-art/medaille/argent.png" alt="Argent" loading="lazy" class="pa" />
                 </div>
             {% endif %}
             {% if recompense == "bronze" %}
                 <div class="d-flex ai-c">
                     <span>Médaille de bronze</span>&nbsp;
                     <img src="{{ metadata.siteUrl }}/images/pixel-art/medaille/bronze.png" alt="Bronze" loading="lazy" class="pa" />
                 </div>
             {% endif %}
             {% if recompense == "non" %}
                 Pas pour cette fois !
             {% endif %}
         </div>
     </div>
 {% endmacro %}




 {% macro verifOpquast() %}
     <br>
     <span class="tg1-4 mr-xs">&#8627;</span>
 {% endmacro %}


 {% macro verifOpquastNA() %}
     <br>
     <span class="tg1-4 mr-xs">&#8627;</span>
     <span class="tg1-2">Non applicable</span>
 {% endmacro %}
