{% macro version_ptl(ancre, titre, col1, col2, col3) %}
    <h2 id="{{ ancre }}" class="ts-l mb-m">{{ titre }}</h2>
    <div class="d-flex {% if col3 %}mb-m{% else %}mb-xl{% endif %}">
        <div class="w-30">
            {{ col1 | safe }}
        </div>
        <div class="w-70">
            {{ col2 | safe }}
        </div>
    </div>
    {% if col3 %}
        <div class="d-flex mb-xl">
            {{ col3 | safe }}
        </div>
    {% endif %}
{% endmacro %}




{% macro figure(cheminImage, alt, description, class) %}
    <a class="figure" href="{{ metadata.siteUrl }}{{ cheminImage }}">
        <figure role="figure" aria-label="{{ description | safe }}"{% if class %}class="{{ class | safe }}"{% endif %}>
            <img src="{{ metadata.siteUrl }}{{ cheminImage }}" alt="{{ alt | safe }}" loading="lazy" />
            <figcaption>
                {{ description | safe }}
            </figcaption>
        </figure>
    </a>
{% endmacro %}




{% macro code(code, class) %}
<pre{% if class %} class="{{ class | safe }}"{% endif %}><code>{{ code | trim }}</code></pre>
{% endmacro %}




 {% macro h2(texte, ancre, info) %}
     <h2 class="ts-l tg1-1 th-2 tw-4{% if class %} {{ class | safe }}{% endif %}"{% if ancre %} id="{{ texte | slug  }}"{% endif %}>
         {{ texte | safe }}
         {% if info %} <span class="ts-s tg1-2">— {{ info | safe }}</span>
         {% endif %}
     </h2>
 {% endmacro %}





 {% macro sommaire(liste) %}
     <h2 class="ts-l mb-s">
         Sommaire
     </h2>
     <ul class="ul-sommaire mb-l">
         {% for item in liste %}
             <li class="mb-xs">
                 <a class="lien-niveau2" href="#{{ item | slug }}">{{ item }}</a>
             </li>
         {% endfor %}
     </ul>
 {% endmacro %}






 {% macro galerie(siteUrl, option, liste) %}
     {% if option == "pixel-art" %}
         {% set classCSSimage %} pa{% endset %}
     {% endif %}
     <ul class="ul-reset s_mosaique">
         {% for item in liste %}
             <li class="s_mosaique__item">
                 <a href="#image-{{ loop.index }}" class="s_mosaique__lien var--galerie" id="lien-{{ loop.index }}">
                     <img src="{{ siteUrl }}{{ item }}" alt="{{ item }}" class="s_mosaique__image{{ classCSSimage }}">
                 </a>
             </li>
         {% endfor %}
     </ul>
     {% for item in liste %}
         <div id="image-{{ loop.index }}" class="s_galerie">
             <a class="s_galerie__fermer" href="#"></a>
             <div class="s_galerie__figure">
                 <img src="{{ siteUrl }}{{ item }}" alt="{{ item }}" class="s_galerie__image{{ classCSSimage }}">
                 {% if loop.first %}{% else %}
                     <a class="galerie__btn--prev" href="#image-{{ loop.index - 1 }}">Précédent</a>
                 {% endif %}
                 {% if loop.last %}{% else %}
                     <a class="galerie__btn--next" href="#image-{{ loop.index + 1 }}">Suivant</a>
                 {% endif %}
                 <a class="galerie__btn--close" href="#lien-{{ loop.index }}">Fermer</a>
             </div>
         </div>
     {% endfor %}
 {% endmacro %}
