{% macro demo_code(demo, code, intro, code2) %}

    {% if intro %}
        <p class="mb-m">
            {{ intro | safe }}
        </p>
    {% endif %}

    <div class="d-flex ai-c jc-c mb-xl">
        <div class="w-50">
            {{ demo | safe }}
        </div>
        <div class="w-50">
            {% if code2 %}
                <div class="mb-s">
                    <pre><code class="language-html">{{ code | trim }}</code></pre>
                </div>
                <pre><code class="language-twig">{{ code2 | safe | trim }}</code></pre>
            {% else %}
                <pre><code class="language-html">{{ code | trim }}</code></pre>
            {% endif %}
        </div>
    </div>

{% endmacro %}
