@import 'sources/_sass/1-Base/couleur';
@import 'espacement';
@import 'radius';
@import 'texte';

/*--------------------------------------------------------------------*/
/* Mosaique                                                           */
/*--------------------------------------------------------------------*/

// 3 colonnes minimum sur une taille de 320px
$mosaicTailleMinimum: 320px;
$mosaicTailleGouttiereUnitaire: 20px; //3px
$mosaicNombreColonneMinimum: 2;
$mosaicNombreGouttiereMinimum: $mosaicNombreColonneMinimum - 1;

//calcul de la taille de la colonne
$mosaicTailleColonne: floor( ( $mosaicTailleMinimum - ( $mosaicNombreGouttiereMinimum * $mosaicTailleGouttiereUnitaire ) ) / $mosaicNombreColonneMinimum );
