@import "../Function/unite";

$espace-xxs: rem-calc(4);
$espace-xs: rem-calc(7);
$espace-s: rem-calc(15);
$espace-m: rem-calc(30);
$espace-l: rem-calc(60);
$espace-xl: rem-calc(120);

$espace-tranche--small: rem-calc(20);
$espace-tranche--large: rem-calc(45);
