@mixin liste() {

  list-style: disc;
  margin-left: 1rem;

  &:not(.ul-reset) li:not(:first-child) {
    margin-top:$espace-xxs;
  }

  & li::marker {
    color: var(--gamme1__texte4);
  }

}





@mixin liste-ol() {

  list-style: decimal;
  margin-left: 1rem;

  &:not(.ul-reset) li:not(:first-child) {
    margin-top:$espace-xxs;
  }

  & li::marker {
    color: var(--gamme1__texte4);
    font-weight: 600;
  }

}
