@mixin liste() {
  list-style: disc;
  margin-left: 1rem;

  & li::marker {
    color: var(--gamme1__texte4);
  }
}

@mixin liste-ol() {
  & li::marker {
    color: var(--gamme1__texte4);
    font-weight: 500;
  }
}